[2016-01-23 19:28] bstabler opened #1 "speed up read zmx"
read zmx is using a temporary unzipped folder, so it is slow.  I'm going to update all the SWIM read ZMX calls to use the faster version here: https://github.com/bstabler/ZMX.  This one is 25% faster.

[2016-01-23 19:45] #1 closed, assigned to nobody

[2016-02-02 18:57] gregmacfarlane opened #2 "Update to Visum 15"
ODOT's licensing issues compel us to move to Visum 15. We need to ensure that the API doesn't break with the conversion.

[2016-02-05 18:27] gregmacfarlane opened #3 "Trip Mode choice cannot find path"
There are a few hundred trips in the PT years that do not find modes. Here is a representative error log:

[code]

[2016-02-09 16:36] gregmacfarlane opened #4 "Add users to GitHub"
Amila needs to be added

[2016-02-09 16:52] gregmacfarlane opened #5 "Change from .zip to .7z where possible"
Priority is the viz database, can test with swim small

[2016-02-09 17:00] gregmacfarlane opened #6 "POI transit documentation"
This is part of the dynamic documentation task.

[2016-02-09 17:05] gregmacfarlane opened #7 "Allow global values to change over time"
For instance, the vehicle operating costs are fixed for a model run. ODOT would like to run scenarios where this increases or decreases.

[2016-02-09 17:09] bettinardi opened #8 "AA convergence warnings"
AA throws warnings about certain technology dispersion parameters; If dispersion parameters are actually too high, please revise them reasonable levels; else increase caps on parameters that throw warnings:

[code]

More generally, can we suppress warnings if they don't actually matter?

[2016-02-09 17:15] bettinardi opened #9 "Test and verify select link process"
For instance, `sl.numzones` in the global properties file needs to be corrected or avoided. Also, ensure that the process is working.

[2016-02-09 17:23] gregmacfarlane opened #10 "Verify PT income bins"
There is an outstanding issue in JIRA asking about whether PT income bins were updated to 2009 info that AA and SPG used. Joel was going to verify this, but we don’t remember if we got your answer.

[2016-02-09 17:32] gregmacfarlane opened #11 "Delete previous database when VizDB runs"
If the viz run fails, and a new one is started the DBs from the failed run will compound with the new run, doubling values. The viz build process should delete existing DBs prior to starting.

[2016-02-09 17:34] gregmacfarlane opened #12 "Report AA return code"
@jeabraham:

[2016-02-09 18:00] gregmacfarlane opened #13 "Documentation"
We need to write complete documentation chapters on

- [x] SI @bstabler
- [x] NED @gregmacfarlane
- [x] ALD @bettinardi
- [x] AA @jeabraham
- [x] PT @bstabler
- [x] CT @rickdonnelly
- [x] TA/TR/SL @bstabler
- [x] Swim-small @bstabler
- [x] Running the model

[2016-02-09 18:24] bettinardi opened #14 "calcVolumeFactor"
Drop the Debug function.  Sensitivity test to determine what the best approach should be and update the calVolumeFactor in SWIM_VISUM_Main.py.

[2016-02-09 19:00] gregmacfarlane opened #15 "Functionality to restart a model run"
It's hard to restart a crashed model run. Let's find a way to automate or simplify a restart.

[2016-02-09 19:08] #2 closed, assigned to bettinardi

[2016-02-09 22:12] gregmacfarlane opened #16 "Exception error handling on Visum call"
When instantiate Visum, we should have exception handling.

[2016-02-09 22:42] #16 closed, assigned to gregmacfarlane

[2016-02-09 23:03] #11 closed, assigned to gregmacfarlane

[2016-02-09 23:30] gregmacfarlane opened #17 "Fix world market correction for SWIM small"
Swim-small broke the world market logsum recalculator. Fix this in swim-small or revert to the previous solution in the small scenario

[2016-02-09 23:49] #10 closed, assigned to gregmacfarlane

[2016-02-10 05:27] #17 closed, assigned to gregmacfarlane

[2016-02-10 16:51] #15 closed, assigned to nobody

[2016-02-10 16:52] #6 closed, assigned to bstabler

[2016-02-10 17:54] #12 closed, assigned to gregmacfarlane

[2016-02-10 18:05] gregmacfarlane opened #18 "Investigate VDF behavior"
We have a problem with unrealistic behavior and assignment loading. This is related to #14, but probably a separate issue.

[2016-02-10 21:02] gregmacfarlane opened #19 "Make VISUM licensing more robust"
Currently the Visum modules crash because it cannot restart.

[2016-02-10 21:52] gregmacfarlane opened #20 "Don't kill everything on crash"
Currently if SWIM crashes it kills all java.exe processes, which means that running two simultaneous runs is infeasible. Can we fix this?

[2016-02-11 01:32] bstabler opened #21 "remove duplicate vizdb code in the repo"

[2016-02-11 01:33] #21 closed, assigned to nobody

[2016-02-11 02:51] bstabler opened #22 "VIZ DB link data table incorrect zone info"
The linkFieldNames.csv file defines the link fields export to AllLinks.csv.  The first field is NO, which is link ID.  For some reason, the build VIZ DB was replacing that with AZONE.  This is incorrect.  I checked the mini model AllLinks.csv file, and it has link IDs.

[2016-02-15 20:13] gregmacfarlane opened #23 "Incorrect counts in Version file"
The comparison counts I got from @rickdonnelly don't appear be split for two-ways. For example, the shot below shows the link volumes in 2005, 2006, and 2014 (what I appended). All of these are two-way divided facilities.
![AADT](https://cloud.githubusercontent.com/assets/2234830/13059210/8d8b16ba-d3f6-11e5-987e-73f2e0b6abae.png)

[2016-02-15 21:12] #23 closed, assigned to nobody

[2016-02-17 00:35] #4 closed, assigned to gregmacfarlane

[2016-02-17 16:20] gregmacfarlane opened #24 "Place correct counts on network"
The ATR data is two-way volumes, but we only have one-way link information to join to. Need to grab the ATR number from a previous network and append.

[2016-02-17 22:55] bstabler opened #25 "Specify a bigger max log4j file size"
The default max log file is 10MB in log4j - https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/RollingFileAppender.html#maxFileSize.  We want a bigger max.

[2016-02-18 18:05] gregmacfarlane opened #26 "Find Yegor's source code"
The version of `synpop.SPG.java` that was in tlumip.jar prior to 53dd9746622cb2123cf5274aeb0f67354c545667 had modifications that are not in the repositoried version.
![old and new](https://cloud.githubusercontent.com/assets/2234830/13152974/c13d1c24-d63f-11e5-9b01-9112bfca069d.png)

We have two paths forward:
1. Put the new `pasaat-swim` classes and the old `tlumip` classes into separate .jar file

[2016-02-18 19:12] #26 closed, assigned to gregmacfarlane

[2016-02-19 14:58] #3 closed, assigned to gregmacfarlane

[2016-02-23 19:23] #19 closed, assigned to bettinardi

[2016-02-24 01:30] #22 closed, assigned to bstabler

[2016-02-25 13:21] #25 closed, assigned to gregmacfarlane

[2016-02-25 13:54] gregmacfarlane opened #27 "Place tlfd in Viz database"
We need the trip length frequency distribution by bzone, purpose, and mode in the VIZ database.

The [code](https://github.com/pbsag/tlumip/blob/master/root/scenario/model/code/viz/build_Viz_DB.R#L627-L630) currently stashes trip tables with the total distance of all trips on the origin end. It should be a simple sql call to process this table in another way.

[2016-02-25 15:04] #27 closed, assigned to nobody

[2016-02-25 17:28] gregmacfarlane opened #28 "Fix default version file when networks change in scenario"
If the model can't find a `.ver` file in the current year, it apparently defaults back to `t0`. Is there a way to get it to look in all previous folders first?

For example, we have a scenario where we change the network in `t21` and again in `t23`. In `t22`, it should get the network from `t21`, but it appears to get the network from `t0`. Presumably `t24` would also default back to `t0`. How can

[2016-02-25 19:20] gregmacfarlane opened #29 "Missing zones in alpha2beta.csv"
PT is unable to find several alpha zones in the workplace location choice model, complaining:

[code]

Where does this crosswalk get created, and why are these zones missing?

[2016-02-25 20:12] #5 closed, assigned to gregmacfarlane

[2016-03-02 03:12] jfdman opened #30 "Fix work-based tour departure\arrival monte carlo variation"
The code uses an unseeded random number generator for choosing the departure and arrival times for work-based subtours. This needs to be changed to the seeded random number generator to prevent monte carlo simulation error.

[2016-03-02 14:24] gregmacfarlane opened #31 "Confirm update properties is working"
I am worried that the model builder is not correctly reading the `globalTemplateUpdate.properties` files. To test this I:
1.  created a swim-small scenario
2. Set tsteps to run all modules in t20 and t21 (except the viz modules)
3. Set the `sdt` properties in `globalTemplate.properties`

[code]
1. Set the properties in `t21/globalTemplateUpdate.properties` to

[code]
1. Run `build_run.bat`
   When

[2016-03-02 18:24] #30 closed, assigned to jfdman

[2016-03-02 19:19] #29 closed, assigned to gregmacfarlane

[2016-03-03 13:11] gregmacfarlane opened #32 "Calibrate AA to Intercounty flows"
The TLFDs for the model show that trips are too long. This creates other problems in the Salem-Portland corridor.
![old](https://cloud.githubusercontent.com/assets/2234830/13573754/2cfdf128-e44f-11e5-9495-54560e954fc5.png)

| mpo               | mean  | median | sd    |
|-------------------|-------|--------|-------|
| Bend              | 11.10 | 4.17   | 21.80 |
| Corvallis         | 20.70 | 10.45

[2016-03-04 17:07] #28 closed, assigned to bettinardi

[2016-03-07 16:11] #31 closed, assigned to gregmacfarlane

[2016-03-09 12:50] gregmacfarlane opened #33 "Update initial year skims"
Issue #32 revealed that the initial year skims are not accurate, and are different from those that AA is being calibrated against. We need to fix these skims.

Proposed:

- [x] get the skims that HBA used on SWIM1
- [ ] and re-squeeze the mcls. The `pt_logsumsonly` module can be used for this.

[2016-03-09 15:05] gregmacfarlane commented on #33
I'm a bit confused by what is required, and what needs to be updated.

The skims that HBA based their recalibration on for #32 are dated early december, but they are only beta zone skims. There are no alpha zone skims – logsum or travel time – in that model (`SWIM1/d:/swim2/aa_calib/powpuma_commut_mar2016/`), so I cannot build alpha zone logsums to squeeze into new beta zone logsum skims.

What mo

[2016-03-09 20:23] gregmacfarlane commented on #33
We cannot find the alpha zone skims from that model run. We will need to see if we can rebuild them with corrected VDF curves.

[2016-03-09 21:25] bstabler commented on #18
Update procedures files so the conical VDFs are calculated so they match Metro's conical VDFs. This means changing the conical(7.0.75) to conical(7,0.98) and the conical(4,0.75) to conical(4,1.21).

[2016-03-09 21:26] bstabler opened #34 "review link VDF coding"
ODOT added links without setting the link UDA VDF.  These all need to be reviewed.  The VDF field is used by the SWIM_VISUM_Main.py to code the linkType field for looking up the VDF to use.

[2016-03-09 21:36] joshchea commented on #34
To create a fail-safe for this type of coding error... the default value of the UDA -VDF could be set to a given value, this can be done in the UDA definition settings. So it will have 'some' value as a new link is coded...

Of-course in such cases, the question always is 'is it better to provide this fail-safe so the model runs all the way, or is it better to have the run crash so the coding erro

[2016-03-09 22:31] bstabler opened #35 "update truck class from D to E in a bunch of spots"
procedure edit attribute for calculating truck cost is using mode D and it should be mode E.

[2016-03-09 22:51] bstabler commented on #34
update wiki as well

[2016-03-09 23:11] bstabler opened #36 "Update link TypeNo handling for different speeds by mode"
SWIM_VISUM_Main.py currently calculates link TypeNo since used to lookup the VDF. TypeNo also references the max speed by mode from the link types table, which we're going to need to revise for the Eastern Oregon speed increases.

[2016-03-09 23:12] bstabler commented on #36
update procedure files as well

[2016-03-09 23:23] bstabler commented on #35
update connector travel time calculation from D to E as well

[2016-03-09 23:24] bstabler commented on #35
review all calculations in the procedure files related to D versus E

[2016-03-10 22:03] bstabler opened #37 "add ability to run air skim creator"

[2016-03-10 22:30] bstabler commented on #35
fix link impedance as well

[2016-03-10 22:53] bstabler opened #38 "Take away inverse volume factor"
Change volume factors from 1 / factor to just factor.  So 0.5 becomes 2 for peak period.

[2016-03-10 23:27] bstabler opened #39 "add distance, time, weight to Trips_CTTruck.csv output file"
@bettinardi would like to add this to the output file

[2016-03-15 12:42] gregmacfarlane commented on #18
In Nagendra's spreadsheet, the function for the conical function is

[code]

So even at zero volume, the travel time is twice the free flow travel time. Is this correct? And if so, is it reasonable?

[2016-03-16 22:35] bettinardi commented on #39
I would add that it is a little higher priority than a "like", Becky and I really NEED that information to use the output from CT effectively.

[2016-03-16 22:44] bettinardi commented on #36
@bstabler - I have run into an issue.  I am going through and updating all the procedure files and the python script however I have determined that the python script needs an overhaul piece that is above my head.  Currently the script runs a procedure file that contains all the periods saving version files for each period along the way.  This has to be changed as it forces the version file to a se

[2016-03-16 23:01] bettinardi commented on #36
@gregmacfarlane and @bstabler
A note to the file -
I just updated (on my side) the network, the SWIM_VISUM_Main.py, linkFieldNames.csv, pathBasedAssignmentSettings_Full.par and initAutoAssignment.par.

The changes address and close issues, 38, 36, 35, and 34.

I would push them to the repo, but this is all currently untested and I will be out for a week, so they are going to sit on my drive until

[2016-03-16 23:03] bettinardi commented on #37
This was really your task anyway.

[2016-03-16 23:07] bettinardi commented on #36
@bstabler - here's where I put my mid-step revisions.  We can't finalize until we have you help update the script and procedure files:
ftp://ftp.odot.state.or.us/TPAU_SWIM2/NetworkProcedureSetupEdits/

[2016-03-17 01:42] gregmacfarlane commented on #36
Can we put these in a branch? Then we can test them and merge easily.

[2016-03-23 22:00] jeabraham opened #40 "Add X-Y Coordinates to Generated PECASZonesI.csv file"
@bstabler  or @gregmacfarlane:
[PECASZonesI.csv.zip](https://github.com/pbsag/tlumip/files/186942/PECASZonesI.csv.zip)

In comparing my calibration directory against what Graham sent me via SWIM1, I noticed that the PECASZonesI.csv that's generated in a model run on SWIM1 doesn't have the x-y coordinate of the centroid of the LUZs, which we need to generate our compressed flow visuals.

Can you ma

[2016-03-23 22:23] jeabraham opened #41 "Use ExchangeImportExportW file in t directories"
The ret_exchange.py script updates the size term for some allocations based on the quantity of retail space from ALD.  This update currently changes the ExchangeImportExportI.csv file in scenario/inputs/parameters.  Instead, it should follow the standard PECAS workflow, of copying ExchangeImportExportI.csv from scenario/inputs/parameters to scenario/outputs/txx/ExchangeImportExportW.csv, and then

[2016-03-24 01:17] gregmacfarlane commented on #40
This was an issue back on JIRA, and we closed it with `wontfix` when we moved to GitHub. As I remember, this decision was part triage (we need a model that runs, and this isn't a blocker) and part "can't we just write out a file that we can join to the tables that need it?"

Maybe I'm wrong about both of these, but would love to hear perspectives.

[2016-03-24 14:39] bettinardi commented on #40
We do write-out x-y coordinates for nodes (link shaping).  I think for consistency and ease of use of the data we should plan on writing out zone x-y coordinates as well.  @bstabler needs to go in and revise the SWIM-main script anyway, this should be a very simple add-on. So while it is not results critical I would suggest that we take care of it now.

[2016-03-24 14:41] jeabraham commented on #40
Since we're rarely changing the Beta zones, can we just add two attributes (Lat, long) to the table of beta zone attributes in Vissum?  That seems like it should be simple.

We did talk about making the flow visual clustering a separate process, so it could be run after AA, but it will still need x-y coordinates.

--
John Abraham

Sent from my iPhone, please excuse any typos.

[2016-03-24 17:02] graham97 commented on #41
AA already looked for ExchangeImportExportI in the current year directory before falling back to the inputs directory. Changed retexchange to generate a year-specific ExchangeImportExportI instead of overwriting the input file.

[2016-03-24 17:02] #41 closed

[2016-03-24 17:27] jeabraham opened #42 "Let model go on while AA is clustering flows for visuals"
I would like to turn on PECAS's flow visual clustering. However it's a bit CPU intensive, and there's no reason for the rest of the model to stop running while we're waiting of the outputs to be clustered for visualization.  I see three possibilities to avoid slowing down the model run much:

1) Find a way for AA to explain to the rest of the system that it's finished modelling, but still running

[2016-03-28 17:50] bettinardi opened #43 "Getting SWIM small back into the update cycle"
Hi @gregmacfarlane

I am working on getting the SWIM small to run again.  When we updated SWIM to pull the correct inputs from the right year we forgot to update the input folders / files for SWIM small.  We also forgot to bring swim small up to Visum 15 (a simple field change in the global template properites.  I just tried to push some changes and they all worked, except the addition of the t21

[2016-03-28 19:20] bettinardi commented on #43
@bstabler I can't work any further on the SWIM small - it's stuck in PT and it is not returning any helpful error messages.  I need you to help figure out why the SWIM small is broken.  If you download the current swim small it should work at least up until the PT fail.

[2016-03-29 20:28] gregmacfarlane commented on #43
It's not clear what the question is with pushing `inputs/t21`. You can't commit a folder in git; is there anything in it?

If there is something in it that the `.gitignore` is skipping past, open the terminal or git-bash and hit

[code]

To force-add it to version control.

[2016-03-29 20:42] gregmacfarlane commented on #43
I just updated the `.gitignore` file so that the inputs directory should no longer be ignored.

[2016-03-29 20:47] bettinardi commented on #43
I tried the line, but no luck - it looked like it worked, but no luck - I am going to try source tree now since you updated the git ignore file.

[2016-03-29 20:47] bettinardi commented on #43
never mind, I added, but forgot to push.  Just pushed now in git bash

[2016-03-29 20:48] bettinardi commented on #43
Still no luck

[2016-04-01 18:31] #34 closed

[2016-04-01 18:31] #43 closed

[2016-04-01 18:31] #38 closed

[2016-04-01 18:32] bstabler commented on #35
we stayed with D

[2016-04-01 18:32] #35 closed

[2016-04-01 18:32] #36 closed

[2016-04-01 18:32] #18 closed

[2016-04-01 20:20] jeabraham commented on #42
I've posted a new .jar for implementing #2.  After testing and when Graham agrees, can we put into the system a program to rerun AA in each year after the Swimviz database is collated?  I.e., after the entire existing run cycle is complete, the system should rerun AA  in each year (parameter on command line to ensure a 0 iteration rerun) to write out extra files not needed by other modules during

[2016-04-05 18:29] #32 closed

[2016-04-05 18:32] gregmacfarlane commented on #14
I believe that we have substantially resolved this issue.

[2016-04-05 18:32] #14 closed

[2016-04-05 18:33] gregmacfarlane commented on #33
We now have the correct skims and simply need to test them. Will also analyze which ones are actually important to keep in the model.

[2016-04-05 18:39] jeabraham commented on #40
@bettinardi @gregmacfarlane can you add the existing XY coordinates from the attachment as zonal attributes now, or disable the writing of PECASZonesI by Vissum?  Otherwise we'll have to overwrite the PECASZonesI.csv files in every year manually.  @graham97 Lets just write a simple python script to iterate through all the years and rerun AA in each year generating flow visuals, then no-one has to

[2016-04-07 21:03] gregmacfarlane commented on #33
This is closed in 938304d05af2c6511ddb400687777ad67af35e00

[2016-04-07 21:03] #33 closed

[2016-04-15 19:09] gregmacfarlane opened #44 "VIZ DB missing multiple tables"
My VIZ database has substantially fewer tables in it than it used to, just like yours. Here are two databases I'm working with.

What @bettinardi  sent me last month:

[code]

What just came out of my run yesterday:
[code]

He's getting the same issues, though I can't trace where the source of this is in the commit history. @bstabler ?

[2016-04-15 20:19] #44 closed

[2016-06-22 06:01] #9 closed

[2016-06-22 17:11] #24 closed

[2016-07-14 00:53] bstabler commented on #7
The user can specify updates to properties by user in the inputs\tYEAR\globalTemplateUpdate.properties file.  Is this sufficient?

[2016-07-15 23:35] bstabler commented on #7
we think this is sufficient

[2016-07-15 23:35] #7 closed

[2016-07-15 23:39] bstabler commented on #37
@bettinardi - can you add a few sentences to describe exactly what you want SWIM to do here?

[2016-07-18 23:18] bettinardi commented on #37
Right now there is a flag in the globalTemplate.properties file - "new.zone.system".  That flag is set to False.  I believe if a user sets that flag to True the code either does nothing or fails (not sure, haven't tested - if you want you could test with SWIM small, or I could).  Either way, I am ~100% sure that it doesn't work as originally intended.  The original intent was for a person to be ab

[2016-07-19 20:14] bettinardi commented on #37
@bstabler - Ben I just ran SWIM small with "new.zone.system" set as True and False.  When True SWIM generates an entirely new set of alpha skims for t19 - this includes the air skims.  You should review the code to figure out what it is doing any why.  I have some memory that we might have just turned it off without ever really thinking about or fixing what is in the "new.zone.system" code.

[2016-07-21 00:22] bstabler opened #45 "add missing sl.internal.zone.file property"
this optional file for SL is used when creating the output trip matrices.  Here is an example for the SOABM application.

[InternalZones.txt](https://github.com/pbsag/tlumip/files/374935/InternalZones.txt)

[2016-07-21 00:23] #45 closed

[2016-07-21 17:33] bettinardi opened #46 "AA fails to converge in the final year"
AA fails to converge in the final year (t50) of seemingly every scenario we run.  We need to understand why.  Perhaps it is some imbalance in NED inputs.  We should not have a model that consistently fails to converge.

[2016-07-21 17:35] bettinardi opened #47 "AA Crashes in t43 under Optimistic Economic Scenario / Inputs"
In the two optimistic economic scenarios that the SWIM team has run to-date, AA crashes at approximately t43 (2033) with the following error message:

[code]

We need to track this down and understand how to correct the Optimistic economic scenario so that it can complete successfully.

[2016-07-21 17:41] bettinardi opened #48 "Understanding Failed "3-year" chunk Scenario"
When ODOT attempted to build a run where NED inputs “chunked” into the model in 3-year aggregate chunks (one year represented 3 years of economic growth), AA crashed and died with the error message below.  We need to understand why AA failed and if there is a way to allow for this type of scenario to be run in SWIM.  As context, the test was run to try and see if running AA less frequently (only r

[2016-07-22 18:45] nsdhakar opened #49 "Select Link - the output zip file contains empty trip files"
This happened due to removing 'sl.auto.classes' and 'sl.truck.classes' from the global properties file. Add back in the two properties in both SWIM and SWIM small.

[2016-07-22 18:51] #49 closed

[2016-08-03 05:54] nsdhakar opened #50 "add Select Link wiki images"
add images for more detailed select link wiki

[2016-08-03 05:55] #50 closed

[2016-08-08 16:18] gregmacfarlane opened #51 "Zoning on River"
The reference scenario shows a substantial density increase (in both population and employment) along the rivers in Portland. This is coupled with a density *decrease* in presently developed areas in Portland. The zoning and allocation rules need to be verified.

[2016-08-08 17:41] bettinardi commented on #51
I have done some initial review.  I would not have used the word "substantial" in the issue above.  We did all agree that there were increases, but I left the discussion that this was a potential issue, as opposed to a known issue, which the word "substantial" suggests to me is a known issue that needs to be dealt with.

In my poking around I started with zone 927, which represents the West side o

[2016-08-08 19:02] gregmacfarlane commented on #51
That all makes lots of sense, and I agree that it is probably a systemic issue (like we're not capturing the costs of developing on the river) more than a data one. But we need to be sure that the water and wetland areas are removed from the available space database.

[2016-08-11 17:24] bettinardi commented on #39
@gregmacfarlane - can you remind me why we weren't able to address / close this issue.  Is this something that we can fix before the end of TLUMIP 5.  We really need CT to export the specified fields.

[2016-08-12 14:13] gregmacfarlane commented on #39
@rickdonnelly remembers why. Can he answer?

[2016-08-17 15:59] gregmacfarlane commented on #13
I think these tasks are mostly done.

[2016-08-17 15:59] #13 closed

[2016-08-17 16:51] bettinardi opened #52 "Build Database as SWIM runs"
It would be ideal (but low priority) for SWIM to write data to the VizDB by year, or better yet by module.  It would be best if this happened in Parallel as opposed to in series, meaning that after a year or module finished it start to move the data to the database, but also allowed the next process in the SWIM stream to start.

We should think about ways that this could be coded.

[2016-08-17 17:02] gregmacfarlane commented on #52
It would be easy to do this in Linux with the `nohup` command. We'll have to see if Windows has anything similar.

[2016-08-18 23:39] gregmacfarlane opened #53 "Keep wiki images in the wiki"
I'm finally looking at the edits @bstabler and @nsdhakar made to the select link wiki, which I know that Alex has been reviewing carefully. There's one additional thing that I would like to request.

Instead of putting the images in the main repository, I would prefer keeping them in the wiki. There's not an easy way to do this within the GitHub web interface (that I know of), so you will need to:

[2016-08-19 23:54] #53 closed

[2016-08-22 17:56] gregmacfarlane commented on #40
I'm putting all of these visuals into the TLUMIP6 label; it doesn't seem critical for the peer review or last haul towards delivery.

[2016-08-24 17:00] bettinardi commented on #46
I just found out that AA fails to converge in t42 for the optimistic.  That scenario fails in t43.  In my mind this verifies that issues 46 and 47 are one in the same.  To fully verify, we could push the reference to t51 (one year beyond the t50 fail to converge year in the reference), and verify that the model crashes.  We need to figure out what inputs going into AA are unbalanced.

@gregmacfarl

[2016-08-24 17:43] gregmacfarlane commented on #46
What happens in the quarter ALD? If AA becomes unstable because it has too much space to work with an eventually fails to converge, then we would solve both at the same time.

[2016-08-24 20:29] bettinardi commented on #46
The quarter ALD scenario still fails to converge in year t50.  All the scenarios do.  I think it is a NED input issue into AA, as opposed to AA not being able to deal with floorspace.  Something about NED inputs does not make sense (at least not in AA).

[2016-08-25 19:19] gregmacfarlane commented on #51
Here are some zones that I find particularly egregious, and I think we should review:

| azone| 20_hh| 20_pop| 35_hh| 35_pop| 50_hh| 50_pop|
|-----:|-----:|------:|-----:|------:|-----:|------:|
|   624|    61|    153|   321|    595|   673|   1119|
|   678|     5|      8|   254|    408|   606|    956|
|   902|     1|      1|    18|     35|    42|     75|
|   903|     0|     NA|    21|     36|    3

[2016-08-25 19:42] bettinardi commented on #51
Zone 624 - 75% water, ~20M sqft of viable land to build.
Zone 678 - 25% water, ~34M sqft of viable land to build, currently has the troutdale airport (so SWIM is going to have a hard time with that one).
Zone 902 - 55% water, ~36M sqft of viable land to build, currently has one of the larger shopping complexes on it in the Portland area - it has the only Oregon IKEA.
Zone 903 - 0% water (land lock

[2016-08-25 19:55] gregmacfarlane commented on #51
Well, the problems with chloropleths are attenuated by higher levels of aggregation. I think that dot density plots can be useful, but they have weaknesses (like showing negative growth; we never would have seen Vancouver emptying with dot densities). I'll see what we can do by the end of TLUMIP5.

To the point, if you don't see a problem here, then I will close the issue.

[2016-08-25 19:55] #51 closed

[2016-08-25 19:57] gregmacfarlane commented on #51
That said, if there is an airport or dock in the zone, why do we not take it out like we do water?

[2016-08-25 20:05] bettinardi commented on #51
That would require a level of manual cleaning that would be unjustified - at least in my mind.
You could say the same thing about our universities, or the capital, or the Oregon gardens, or the Pendleton round-up, the international race way, the rose garden...  We don't have a layer of "all things that SWIM shouldn't build on".

It would take a large effort,; and whose to say that these "permanent

[2016-08-25 20:05] bettinardi commented on #51
Remember we have a generalized transit approach - consider this generalized land use.

[2016-08-25 20:45] bstabler opened #54 "use paths from assignment for skimming"
turned on results in spotty toll cost skims due to lumpy path switching; turned off seems safer.  Should I turn it off by default in the par files in the repo?

[2016-08-25 20:48] gregmacfarlane opened #55 "Hayden Island zones"
Remove water from buildable land supply.

[2016-08-25 22:09] #54 closed

[2016-08-25 23:56] bettinardi commented on #55
Just cleaned up these zones along with some other network issues (a coding problem on a section of I-5 in Washington that I found, and adding Bridge of the Gods).

[2016-08-26 00:04] gregmacfarlane commented on #55
Let's close this when the new version is committed.

[2016-08-26 12:53] #55 closed

[2016-08-26 13:03] gregmacfarlane commented on #55
Sorry for the mess of openings and closings; I feel like these buttons need to be labeled or designed differently.

[2016-08-31 23:03] gregmacfarlane commented on #39
@rickdonnelly and I had a conversation this afternoon. We cannot put the weight on the output file because we do not carry commodities or quantities of them through the local CT process. The data to do this simply do not exist anywhere. He can explain more as warranted.

He and I will sit down together (on a screenshare) and put the time and distance fields on the output file next week.

[2016-08-31 23:04] bettinardi commented on #39
what about adding value - or anything about what is in the truck - would that be possible?  How are the trucks distributed if we don't know what they are carrying?

[2016-09-01 13:07] gregmacfarlane commented on #39
For local trucks, we do not know what they are carrying; the commodity skims coming from AA did not make any kind of logical sense, and there is no data on which to build imputation methodologies. As @rickdonnelly explained it to me, we could have a model where we knew what trucks were carrying, or a model where observed patterns in the transportation system were replicated, but not both.

[2016-09-01 14:29] rickdonnelly commented on #39
@gregmacfarlane gave you the short answer, and here I'll sketch out the long version for those who care. The problem is even more pervasive than just the particular implementation of CT that we're using. Even if we knew the commodity the truck was carrying (in addition to truck type, which we do know), we still could not know the weight or value of the shipment. If we think in terms of discrete fi

[2016-09-01 14:40] bettinardi commented on #39
All that is very helpful and I more fully understand the issues surrounding this now - thank you for that context.

One last question if I may - do we know how SWIM 2.0 CT was adding value and weight to the trucks?  Based on the explanation above, I'm now understanding that those values were likely total garbage, I'm just curious how the previous CT was collecting and assembling that garbage.

[2016-09-07 21:39] rickdonnelly opened #56 "Delete unnecessary 7-Zip and R package installers"
There are several installers in the tlumip/root/model/lib folder that I propose to delete. They include installers for Java, Python, R and several of its packages, and 7-Zip. The README file states that these are maintained to ensure ability to reproduce model results for SWIM system built using those exact versions of software. I know we had issues with Java 6 in the past, where later DAF did not

[2016-09-07 22:09] bettinardi commented on #56
I disagree with deleting the folder.  While in theory things should be forward compatible, they are always (at least with R).  With R we have had examples of libraries that no longer work correctly in newer versions of R.  I like ensuring that the repository has a copy of everything that the model needs to run - including all the little libraries and dependencies that are required.  That way we do

[2016-09-08 12:30] gregmacfarlane commented on #56
This is not directly related, but precipitated @rickdonnelly 's question.

The list of R dependencies (for swimr, ct, etc) is getting quite long and not all packages are on CRAN. Keeping the zipped versions of the source packages in this folder is no longer feasible. We can do one of a few things:

  1. Point the user to download R and run a provided script to install the packages
  2. Provide emp

[2016-09-08 12:33] gregmacfarlane commented on #56
As a note, I will be upgrading swim to R 3.3.1, and will need to do one of these things.

[2016-09-08 12:35] gregmacfarlane commented on #39
This is added as of 5a4c4c1eb532fedf65aa3860fd7811524f7dad2b; will need to resolve #56 before closing this one.

[2016-09-08 13:08] rickdonnelly commented on #39
@bstabler: The last version of CT mapped the production of firms, provided by AA in annual dollar terms, to commodities in local trucks by using average payload weights by commodity and truck type from the 2002 VIUS microdata (which reported them in very broad ranges) and the 1999-2001 Commercial Vehicle Survey from Canada. We have no way of validating the resulting value and tonnage, but at least

[2016-09-08 13:42] rickdonnelly commented on #56
I'm very much for @bettinardi's option 1. We have far more pressing things to focus upon than keeping R installers up to date in our repo. I've only had updates to R itself break two things so far in my life, and they were both in later version 1.x releases. They fixed bugs that were affecting my results in ways I hadn't caught yet. It's inconvenient to deal with them, but no question that the out

[2016-09-08 16:15] bstabler commented on #56
I agree with @bettinardi.  In my experience delivering and maintaining modeling systems, I've found it best to keep a copy of every required piece of software for running the system.  It is also important to keep updated notes on how to set it up.

[2016-09-09 16:12] bettinardi commented on #56
Note that ODOT continues to struggle to get packages from non-CRAN sources. Not all of the libraries are on CRAN.  Let's ensure that all R libraries required are in the repo.  I would request that in general we don't trust that a user can access the executables that we point to on the web.  Let's please include the executables used in SWIM in the repo.

[2016-09-09 16:22] gregmacfarlane commented on #56
What if we include source zips for non-cran packages, but an installer script for packages that _are_ on CRAN?

[2016-09-09 16:32] bettinardi commented on #56
I am okay with that.
Just remember that SWIM has a pretty long development cycle.  I'm pretty confident that as we moved off of the SDC-6 cluster setup of SWIM 2 the Java version that it was using was no longer available on-line, and if it was, any link breadcrumbs that we would have left ourselves would have been long dead.

I have found it very reassuring to have the required software bundle inc

[2016-09-09 16:50] bstabler commented on #56
I think every installer/package/etc. should be in the repo.

[2016-09-09 17:14] gregmacfarlane commented on #56
As @bettinardi and @bstabler point out, there is a risk in not having the dependencies stored locally, in that new versions of software may not be backwards-compatible.

There are also risks in keeping a local dependency tree, however. Specifically, if a second-or-third order dependency has a bug that is corrected, the bug fix will never be incorporated automatically. And this is not a hypothetica

[2016-09-09 17:31] gregmacfarlane commented on #56
Actually, I'm going to close this when @rickdonnelly puts CT in a package (any day now), and when the tidyverse package gets up on CRAN (should be any day now)

[2016-09-12 14:47] bettinardi commented on #56
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Before you close it on github, let's please run a successful reference test with the new installs.  If a full reference run is too much, let's at least ensure that a swim small completes successfully with the new CT, R package, libraries....

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-09-12 15:17] gregmacfarlane commented on #56
Planning on it.

[2016-09-13 21:50] bettinardi commented on #39
The fields; trip mode (all 9), tour mode (all 9), and truck ID (just a sequential record count) should all be dropped from Trips_CTTruck.csv if they are going to remain as-is, and not provide any information about the specific truck trip record.

[2016-09-14 16:29] rickdonnelly opened #57 "CT tour and trip mode fields incorrect"
Somehow the truck tour and trip modes are not retained through the end of CT, for they are coded as 9 in the final trip list that is handed off to assignment. The tour mode is especially important, for it retains the distinction between a local and inter-regional (i.e., FAF) flow trip.

[2016-09-14 23:43] bettinardi opened #58 "Ensure that Premium transit service lines in the 2010 network only represent 2010 coverage and nothing greater"
In the call on 9-13-16, Alex (me) identified that the "base" year network includes highway improvements from the base year through 2015 (a 2010-2015) network, as it would be overly detailed for SWIM to have a new network every year, or even every three years.

Joel said - all well and good for highway, but he did not agree that new light rail lines that did not exist in the base year should be inc

[2016-09-20 15:01] bettinardi opened #59 "Select link has issues running a single link, might not be correctly working in general"
@bstabler and @gregmacfarlane  Here's the email I just wrote:

"I ran the select link for the Columbia River crossing – it seemed to run without error, which might be a bad thing (at least in this case).
The trips that came out of the select link run only worked for one direction on the bridge (the outbound direction (into Washington), and the number of trips that were identified in the process is

[2016-09-20 18:10] jfdman opened #60 "Update PT Cost Coefficients"
PT cost coefficients are more negative than would be suggested by prevailing best practices. Typically work values of time are 1/2 of the average hourly wage rate, and non-work values of time are 1/3 - 1/4 of the average hourly wage rate. The values of time in the tour mode choice models are about 1/2 that. This is likely due to low estimated VOTs. Suggest that we assert cost coefficients to match

[2016-11-01 18:22] gregmacfarlane commented on #47
This is a duplicate of #46.

[2016-11-01 18:22] #47 closed

[2016-11-01 18:28] gregmacfarlane commented on #48
This is probably not an essential element of SWIM's design, so won't fix

[2016-11-01 18:28] #48 closed

[2016-11-01 19:06] bettinardi opened #61 "CT seems to lack truck flows in the halo"
From as best as I can tell CT is not producing truck flows (originating and destine trips) in the halo zones.  This is espeically problematic for the Portland area which borders the halo and has two key bridges that cross into Washington and are not showing the correct truck traffic flows.  Further this is creating a major issue along SR-14 in Washington, which is the detour option for I-84 in Ore

[2016-11-01 19:13] bettinardi opened #62 "Update SWIM for Visum 16"
Some swim_small test have been done and seem to verify that SWIM works perfectly fine with Visum 16.  The change to 16 is in the properties file, so no issue needs to be created to allow SWIM to work in Visum 16.  However in Visum 16, the parameter files were changed from complied data files to an open xml format.  It would be ideal to switch all parameters files to xml.  Farther down the line, we

[2016-11-01 19:29] bettinardi commented on #59
@nsdhakar and @bstabler -
If possible, as we revise the select link tool to work for a single link, it would be very helpful to get ODOT as many pieces as possible to a related product.  We have found that when doing a select link, an important question is, "who is using the link now", and where would those users go if that link was not available.  So an easy output to add to the single select lin

[2016-11-02 13:46] gregmacfarlane commented on #61
I'm digging through the CT output from my most recent scenario run. `ct-internal-truck-origins.Rdata` doesn't have trucks originating in Vancouver, Walla Walla, or Boise. There are also no synthetic firms in those zones.

Is it possible that this code chunk in [`create_synthetic_firms()`](https://github.com/pbsag/tlumip/blob/master/root/scenario/model/code/ct/Create%20synthetic%20firms3.r#L32-L37)

[2016-11-02 23:40] bstabler commented on #62
In order to change the setup of the select link process so that it uses the Visum version specified in the properties file, instead of the install in the registry, we'll need to revise the Java code and re-compile the jar since the overall Java-based model runner passes the variable to the select link Python script as a command line argument.

[2016-11-02 23:42] bettinardi commented on #62
Got it.  So we probably won't cover that next week.  Let's see how far we get with Visum 16ing SWIM next week.  Then we can end the meeting next Tuesday with closing this issue and starting a new issue for TLUMIP 6 of the other items related to Visum 16 that we want to accomplish (if any).

[2016-11-08 17:47] rickdonnelly commented on #61
I cannot replicate this problem from either the older code base that is in the repo or the newer version that I've put into R package format. The firm synthesis is building firms in all zones in the halo that have employment coded (read from Employment.csv, generated by PECAS in each simulation year), and internal truck trips are being generated within those zones. I've checked that this is true f

[2016-11-08 21:22] bettinardi opened #63 "ALD dollars per region is not responsive to large changes like RRA"
We should look into re-evaluating the way that dollars are allocated to ALD regions.  The issue is that scenarios like Rough Roads Ahead (RRA) don't impact construction dollars per ALD region, and therefore the impacts of RRA are hard to be realized, since Portland will continue to build floorspace regardless of how the economy is impacted.

[2016-11-08 21:26] bettinardi opened #64 "CT - long distance flows aren't impacted by SWIM results"
CT uses FAF flows which is good.  However when we do large, model shaking, scenarios like Rough Roads Ahead (RRA) the long distance flows and their destinations (like the Portland FAF zone) are static and completely non-reactive - "that's bad".  As we move into TLUMIP 6, we need to think of some way to "model" long distance flows so that they look like FAF (calibrated to FAF), but can react in som

[2016-11-08 21:34] gregmacfarlane opened #65 "Include halo zone FAF regions"
For example, the TLUMIP-included FAF data does not include flows between the remainder of Washington and other region in the east and southeast. I propose we add flows into and out of all halo-zone FAF regions, instead of only those flows that we think are likely to use Oregon roads (Washington-California).

[2016-11-08 21:35] gregmacfarlane commented on #65
This is related to (but separate from) #61

[2016-11-08 22:54] bettinardi commented on #62
All done [hand dusting]

[2016-11-08 22:54] #62 closed

[2016-11-08 23:03] bettinardi opened #66 "Replace SWIM java AO"
The current AO is in Java and needs to be re-complied with any edits or updates.  This is highly problematic and issue prone.  Recompiling is the worst.  The fix is to move to some other software (like R or python) to opperate SWIM.  For example something like orca (in python): https://github.com/UDST/orca

[2016-11-09 00:34] bettinardi commented on #56
We've started to address this in commit 44a8e36667b50ece144abaa04d418eeedaddef02.

[2016-11-09 00:36] bettinardi commented on #46
Changed the reference k_12 NED inputs to match the pessimistic scenario.  This should work, but we will verify next week.  See commit - 5fc177feaf45006f939da87750d656eb70c8e491.

[2016-11-09 00:37] bettinardi commented on #57
Will review again after testing the fix for #61.

[2016-11-09 00:40] bettinardi commented on #8
We really want the AA logs to be readable - we will push for removing these types of warning messages in TLUMIP 6.

[2016-11-09 19:40] bstabler commented on #59
@nsdhakar and I discussed how best to integrate the new one link version of ``SL - Append Select Link To Trips`` and plan to do the following:

Revise the runSL function in [model_runner/module_commands.py](https://github.com/pbsag/tlumip/blob/master/root/scenario/model/code/model_runner/module_commands.py) to read the selectLink.csv file
  - if one link, then run the two Python scripts:
    - bui

[2016-11-10 17:18] nsdhakar commented on #59
@bettinardi: what is a single link - is it one direction link (IN or OUT) or both directions (IN+OUT)?

[2016-11-10 20:11] bstabler commented on #59
I think one directed link makes sense and, if you want two links, then add the results up manually.

[2016-11-10 20:19] bettinardi commented on #59
I agree with Ben's comment/suggestion - but if there is budget, my preference would be for a two-directional select link - that is how we will be using it 99% of the time - and running two select link processes in SWIM and putting them together manually will get old.

[2016-11-21 14:36] gregmacfarlane opened #67 "Abandon ZMX"
SWIM should use the OMX open standard.

[2017-01-17 00:35] nsdhakar opened #68 "Select Link - add functionality to generate select link and non-select link demand matrices"
The selectLinkResults.csv identifies trips that are using the select link. However, it is also important to know where these trips would go if that link was not available. To help with such analysis, it would be helpful to create separate OD matrices for select link demand and the remaining demand by vehicle class (auto or truck) and time period (peak or off-peak). A user could then run assignment

[2017-01-31 19:59] #61 closed

[2017-01-31 19:59] #65 closed

[2017-01-31 19:59] #57 closed

[2017-01-31 19:59] #39 closed

[2017-01-31 20:00] #56 closed

[2017-02-02 19:36] bettinardi commented on #63
The current solution in RRA, is to remove the 15 ALD regions, just having one "SWIM" ALD region.

[2017-02-02 19:37] #46 closed

[2017-02-02 19:50] bettinardi commented on #59
@jfdman
We have a series of issues occurring with the select link tool that need to be addressed.  These might all be inter-linked, I'm having a really hard time troubleshooting these issues.

1. using the "build_run.bat" command creates a report to the screen for select link for some reason - it shouldn't do that.  If select link information is to be reported to the screen it should only be when

[2017-02-03 18:26] bettinardi commented on #58
Looks like green should be kept in (get rid of orange):
https://en.wikipedia.org/wiki/MAX_Light_Rail
Keep EMX:
https://en.wikipedia.org/wiki/Emerald_Express
remove street car
https://en.wikipedia.org/wiki/Portland_Streetcar
Keep WES:
https://en.wikipedia.org/wiki/WES_Commuter_Rail

[2017-02-03 18:27] bettinardi commented on #58
keep the tram:
https://en.wikipedia.org/wiki/Portland_Aerial_Tram

[2017-02-06 20:26] #58 closed

[2017-02-08 23:25] bettinardi opened #70 "Reduce Beta Zone naming overhead"
zoneFieldNames.csv currently specifies that Bzone is defined by the user in the Visum version file.  To reduce user error, the code will be altered to get all alpha zone numbers from “NO” from the zone object in Visum, and all beta zone values from “NO” from the Main zones object in Visum.  The user defined fields, “AZONE” and “BZONE” will be deleted from the Visum database (version file).

[2017-02-09 18:49] bettinardi opened #71 "Remove unnecessary alpha2beta.csv fields"
There are a handful of legacy zone fields that are solely being kept because there were defined in the alpha2beta.csv.  Before they are cleared, we need to review the model components that use alpha2beta.csv and verify that the structure of alpha2beta.csv can be altered and that no processes within SWIM use the fields that are marked for deletion.  The fields to be deleted are:

AREATYPE
COUNTYFIP

[2017-02-10 19:02] bettinardi commented on #71
Test confirms that AZONE, NOTES, and DESCRIPTION Field can be deleted.  Move external station description to Visum "NAME" field.

[2017-02-10 19:04] bettinardi commented on #71
Is FARE still used - it looks legacy

[2017-02-13 16:44] bettinardi commented on #71
Note to self to verify that the AZONE, NOTES, and DESCRIPTION fields have been successfully removed from the repo version files before closing this ticket. (I have a feeling that this is going to be a messy tracking process, and those fields might creep back in).

[2017-02-13 23:20] #68 closed

[2017-02-13 23:32] bstabler opened #73 "update average viz db script"
Update the average viz dbs script so the output looks like a regular viz db, but with data fields replaced with averages where specified.  The script will copy the first viz db and then replace specified fields with the average across multiple dbs.

Also add the average viz db documentation to the wiki.

[2017-02-13 23:36] bstabler commented on #73
Update this page as well - https://github.com/pbsag/tlumip/wiki/Helper-Scripts

[2017-02-15 23:13] nsdhakar commented on #73
Following key updates are made to the script:
1. The master table was not supposed to have NULL in "key_fld" in the second part. Now, updated the script to accept NULL, such fields are considered as KEYS so that all fields are present in the output database. Also, if all fields of a table are set to NULL, the table is still written out in the output database.
2. If a field values contain "None" th

[2017-02-16 05:42] bstabler commented on #59
SL module is now fixed.  Before SL was only running for peak and offpeak, but SWIM was running four assignments - peak, offpeak, pm, and ni.  This meant that the pm and ni assignment results (i.e. paths) were not available to the SL process.  The SL process joins the paths to the microsimulated trip lists by trip origin, destination, and time period.  If a microsimulated trip occured in the pm per

[2017-02-16 05:47] bstabler commented on #59
@nsdhakar - please update the SL wiki

[2017-02-16 18:51] bstabler commented on #73
@bettinardi to update the template [DataBaseDescription.csv](https://github.com/pbsag/tlumip/blob/master/root/scenario/model/helper_scripts/DataBaseDescription.csv)

[2017-02-17 18:23] bettinardi commented on #59
I am still testing.  Testing on the swim small seemed successful, next step will be to test both multi and single select link on a full run for actual projects (like the ABM and or testing flows across CRC).

Outstanding items to review / address:

1. Add a “SDT_VEHICLE_TRIP” column to the SL_Summary file, where SDT is filtered down to just “DA”, “SR2” and “SR3P” on the tripMode, and then DA gets

[2017-02-17 18:27] bettinardi commented on #73
Currently the process successfully builds an averaged database, however to speed up completing this script, it was left mainly as it was originally developed.  What that means is that it does not copy a database and average certain fields.  It creates an empty database and fills it with all the tables it is supposed to have.

This is currently leading to some issues.  The one known one is that the

[2017-02-17 18:54] bettinardi commented on #71
Just posted new version files with AZONE, NOTES, and DESCRIPTION removed

[2017-02-24 18:14] bettinardi opened #74 "Add MPO growth assumptions to swimr"
swimr - https://github.com/tlumip/swimr- currently compares county level population and employment projections with SWIM results through time.  The same functionality (and comparison data) should be added (and easily editable) for Oregon MPOs - so that an analyst can quickly compare how SWIM is growing an MPO versus how that MPO envisions it will be growing.  This is of specific importance when co

[2017-02-24 18:28] bettinardi opened #75 "Update SWIM base year to 2016 (as a validation point, not a calibration)"
At this point, I propose that since we are in 2017, soon to be 2018 (at least in SWIM time soon), that we build a process so that years 2010-2015 in the swim model turn into static years, which we can use to re-seed 2016 on an infrequent basis.  And change the SWIM run setup to use t25 as the seed year, and t26 (2016) as the kick off year.  I see no since we won't change anything in those 2010-201

[2017-02-24 18:32] bettinardi opened #76 "Truck routing issue due to congestion"
Alex is convinced that our team decision to move to representing period capacity as hourly capacity * every hour in the period was the wrong way to do things.  I believe that this is causing off-peak congestion that is too low, which is allowing trucks to happily use whatever Portland route they would like (specifically I5) with no penalty.  So far the truck counts have shown that US 97 is too low

[2017-03-07 19:38] bettinardi commented on #59
Related to bullets 3 & 4 above:
It looks as if several steps need to occur (beyond just the xml in bullet 3 above) to run the SL assignment.
 - demand segements need to be updated to include the 16 new classes (4 periods x two modes x sl and remainder)
 - The matrix listing descriptions need to be updated so that the name is the same as the dsegcode.  If this step is completed than the new demand

[2017-03-08 15:51] bettinardi commented on #59
A couple more issues to correct with select link (note that these last three comments all need to be addressed with the select link process - so don't just focus on this current last comment):

 - Currently (at least with the Metro example), the process litters the folder directory with a bunch of empty (just header) "sl_weaving..." files.  We need to figure out why those are being created; if it

[2017-03-09 18:34] bettinardi commented on #59
In addition to the three sets of comments above, we still have an issue where the multi-select link process is not pulling the correct number of trips (the issue appears to be isolated to SDT, but all trips should be checked and verified).  The primary issue is to get the process working; the three sets of comments above our secondary.

The issue has specifically been seen in the Metro boundary se

[2017-03-20 15:32] bettinardi opened #77 "Low Fruit file clean-up"
In recent cleaning it was identified that the file(s) "Tours_SDT.csv" takes up about 5-10% of a total SWIM run.  As far as ODOT is aware, this file is never used.  We could get a significant storage savings by updating the process to delete this file at the close of every year.  "Patterns_SDT.csv" might be another candidate for deletion, however at this point the total savings would be closer to 1

[2017-04-24 22:46] bettinardi opened #78 "What is the trusted source of Value flow from SWIM"
For freight work, we (ODOT) often get asked questions about how truck value and tonnage is moving around the network.

The question is, should we trust the AA buy-sell matrix more than the FAF data from CT, or visa-versa.

Along these lines, we also need to explore what the difference is between these two and if we are okay with any difference we find - lastly, if when looking at CT output, we sho

[2017-04-25 05:31] jeabraham commented on #78
Hmm, if they are asking for economic analysis I'd want to use AA's matrices.

--
John Abraham
jea@hbaspecto.com
403-232-1060

[2017-04-28 18:25] bettinardi opened #79 "Update zoning for all Oregon Zones when new DLCD Zoning layer is provided to ODOT"
In recent work it was discovered that previous work created holes in the zoning coverage tabulations in some of the alpha zones scattered across Oregon (too scattered to track down and fix systematically).  In late Spring 2017, DLCD (Robert Mansolillo) should be providing ODOT with the latest DLCD generalized zoning coverage layer for the state of Oregon (last update with 2014).  The latest covera

[2017-05-02 22:41] bettinardi opened #80 "Update NED"
We need to update NED to remove NV and a section of ID and additionally, update the economic forecast to IMPLAN's latest.

[2017-05-03 15:08] bettinardi commented on #71
We should test if BZONE can be removed.  From:  https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py
It looks as if BZONE really comes from "MAINZONENO" (which is the better way to handle it).  So we might be able to remove that field (I will try and do a test).

[2017-05-03 16:11] bettinardi commented on #70
Semi-related.
It looks like the "SWIM_VISUM_Main.py" script requires that the external stations exist in the beta zone layer (Main Zones) as well as the alpha zones layer.  We should see if that can be re-written so that external stations can be removed from the beta zone layer (it doesn't make any sense to store them a second time in that layer).  Or, if we do want external stations in the beta z

[2017-05-03 18:11] bettinardi commented on #70
Another semi related piece to this:
I'm very concerned that the function on lines 818 - 845 of:
https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py
is not interfacing (using) the WorldZone Distances correctly:
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/t0/WorldZoneExternalStationDistances.csv
I have looked over some previous Beta zo

[2017-05-08 15:39] bettinardi opened #81 "swimR Update instructions"
A handful of errors have been identified in the swimR functions (specifically the inconsistent treatment of calculating the percent difference for tables like pop, employment and VMT - VMT seems to incorrectly reference the base year, while Pop and Employment) correct reference the comparison scenario year).

Additionally, enhancements need to be added to swimR - for example MPO pop/emp level proj

[2017-05-22 19:42] bettinardi commented on #81
In recent zone editing it became clear that we need a way to update the zone layer in swimr

[2017-05-22 19:43] bettinardi commented on #79
complete

[2017-05-22 19:43] #79 closed

[2017-05-22 20:40] bettinardi commented on #76
I went back and revisited the "calcVolumeFactor" function.  I reviewed base and future year time of day trip profiles (how many trips being produced by time of day).  I found that it was very static, so the value of having capacity factors calculated by each run year is probably not there.  I comment out line 1619 in "SWIM_VISUM_Main.py" which calculates the volume (capacity) factors for each assi

[2017-05-22 20:49] bettinardi commented on #70
Follow-up on the "BZONE" filed - the setup currently needs it because it is setup to pull that field in "zoneFieldNames.csv".  If we are to drop BZONE from Visum, we will need to update the coding to have an "alias" type field to rename Visum fields on the fly (within the code).

[2017-06-02 16:14] bettinardi opened #82 "Remove internal calculation of connector travel speeds"
The team embedded the automated calculation (overwriting) of connector travel speeds.  The SWIM software should not calculate this (as we don't always want a uniform speed methodology applied over the entire network), the user guide should inform users to populate this connector attribute.

[2017-06-02 16:23] bettinardi commented on #59
One more -
The select link process should add / build the demand segments needed in the version file to run the select link multi-class assignment.

[2017-06-02 16:24] bettinardi commented on #59
Also to create the formula daily matrices for select link and remainder (auto and truck)

[2017-06-02 16:42] bettinardi commented on #59
Initial testing returns a warning identifying negative values in the demand matrices.  We will need to track down if there are indeed negative values in the matrices and where they are coming from.

[2017-06-05 23:36] bettinardi opened #83 "model development report updates"
The SWIM Model Development Report has now been posted on ODOT's webpage:
http://www.oregon.gov/ODOT/TD/TP/docs/statewide/swim2.pdf

The report currently lives here:
https://github.com/tlumip/model-dev-report

Long term we need to determine how updates to the report will occur.  Will the report continue to live on Github / latex or will it move to a wiki or similar format...

In the shorter term, w

[2017-07-25 00:16] jfdman commented on #76
Google shows that the shortest path between Weed CA and Goldendale WA is on 97 as opposed to I-5\I-84 at all departure times in the day. What does the model show? If it correctly shows a shortest path on 97, the issue could be  is more related to the amount of freight that the model is predicting between California and eastern OR and Washington rather than a congestion issue on I-5.  Also I am not

[2017-07-25 20:46] bettinardi commented on #76
I looked into the Weed->Goldendale example, and SWIM routes them on 97 too.  The US 97 volume issue was just one of many examples that I have seen of SWIM not representing enough congestion.  As another example I have noticed that travel times are not high enough during the peak.

We can discussion the solution when the contract is finalized, but I do not agree with the current 24 hours of peak ho

[2017-09-01 16:02] bettinardi opened #84 "Rail and air lines to Metro"
I am just noticing that when we put in the new metro network, it doesn't appear that we reconnected the air and heavy rail lines to Metro in the network (the "m", and "n" lines).  It shoudn't be too hard to add them back in, but I am not interested in doing so if they are not used in assignment.  We need to verify that the process actually uses them, then:

If it does use them, we need to reconnec

[2017-09-14 22:06] bettinardi opened #85 "Understand Select Link Error"
The select link for the Woodburn external model is throwing a set of errors (year t50, scenario "NewZones"):

  | count | value | mod
-- | -- | -- | --
2295-2281 | 23 | 0.451833 | 1
2295-2281 | 23 | 0.548199 | 1
904-2295 | 29 | 0.203138 | 4
353-2457 | 1 | 0.451584 | 1
353-2457 | 2 | 0.220416 | 2
353-2457 | 1 | 0.107584 | 1

To help prompt ODOT's memory this work is stored at:
\\s6000e\6420only\Sta

[2017-09-14 22:35] bettinardi commented on #85
As additional context - I think the issue in the table above is that you have zone pairs like 904-2295 that shares an end in the model. The code must be trying to verify that all paths to a given set of zones can be accounted for.   Since one end is in the model, all paths to and from that model must be in the model somewhere.  We should track down if these are issues and build a better issue repo

[2017-09-26 14:57] bettinardi commented on #76
As a note - in some of ODOT's working copies of SWIM, I disabled (commented out) the period factor calculation - "createVolumeFactor()" - line 1619 in:  https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py

We need to figure out if we want this to be calculated within the code or a user input...

[2017-11-07 17:46] jfdman commented on #83
Investigate LaTex editors and purchase if necessary. Or move to Wiki if it can be translated. Joe Wildey?

[2017-11-07 17:47] bstabler commented on #83
Look into https://pandoc.org/ for conversion as well.

[2017-11-07 17:59] jfdman commented on #80
Carl to check Alex's changes to remove NV, and update the economic forecast to IMPLAN's latest.

[2017-11-07 18:05] jfdman opened #86 "Implement NED Feedback"
Implement NED feedback in SWIM 2.6

[2017-11-07 18:32] jfdman commented on #76
Someone needs to look at count data and calculate factors. Suggest that they are manually calculated.

[2017-11-07 18:37] jfdman commented on #74
Expose reference data in SWIMr instead of hard-coding data in R

[2017-11-07 18:42] jfdman commented on #71
Update wiki after modifying inputs

[2017-11-07 18:46] jfdman opened #87 "Check world zone distances"
From Alex: I'm very concerned that the function on lines 818 - 845 of:
https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py
is not interfacing (using) the WorldZone Distances correctly:
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/t0/WorldZoneExternalStationDistances.csv
I have looked over some previous Beta zone matrices and they don'

[2017-11-07 18:50] bettinardi commented on #63
If we want to follow-up on this, Alex likely needs to put a memo together better explaining how 15 regions works vs one SWIM region.

[2017-11-07 18:53] jfdman commented on #60
Check with Metro on VOTs used in the Metro models. Also check highway assignment VOTS

[2017-11-07 18:59] jfdman commented on #37
See #84

[2017-11-29 00:05] bettinardi opened #88 "Add Instructions to the User Guide for FAF inputs to CT"
Instructions need to be added to the user guide so that ODOT knows how to update the CT inputs that use FAF data for times when FAF has new releases.

[2017-12-26 16:37] bettinardi opened #89 "Truck assignment costs reevaulation"
Recent work with SWIM has revealed that the "TRUCK_COST" calculation in SWIM is likely not correct.  It uses the same value of time assumptions as auto:
Floor(144*[TOLL_PRTSYS(D)]+17.28*[LENGTH])

Note from Peter Bosa's latest email regarding why truck tolls were coded as less than auto in the value pricing scenarios -

"The truck Value of Time is much higher than auto Value of Time. This leads to

[2018-01-03 19:35] bettinardi commented on #76
Additional context - in recent testing we have found that SWIM is too sensitive to interstate tolling, where a reasonable toll can take an unreasonable amount of traffic off of the interstate.  I believe the issue is in that there is too much available capacity off the interstate.  We will need to look at how congestion is being represented across the system and compare to Metro results for the sa

[2018-03-08 18:27] jfdman commented on #87
Ben: Is it possible the problem is in the cast? In python 2, dividing int by float returns float. why cast to an int first?

[2018-03-08 22:20] jfdman commented on #89
Alex will post the VOTs to use and Ben will implement.

[2018-03-08 22:23] jfdman commented on #87
Alex to provide the matrix.

[2018-03-08 22:24] jfdman commented on #87
Probably not a problem with casting.

[2018-03-09 00:20] bettinardi commented on #89
Adding the context to surrounding the table above (just as an FYI):

The Value of Time assumptions are default values in the latest version of the Metro regional travel demand model (Kate).  Value of time (VOT) is segmented by vehicle type as shown in Table 2 (the table in the comment above). The Metro travel demand model will apply equivalent time value of proposed toll rates to apply the equival

[2018-03-09 16:54] bettinardi commented on #87
In my attempts to re-familiarize myself with this issue, I have not yet found the fire, but I have found some smoke that leads to a series of questions:

 - There are two files that seem to specify the same information, which is correct and which is not used.  Can we delete the one that's not used -
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/parameters/worldZoneDistances.csv

[2018-03-09 18:30] jeabraham commented on #87
AA doesn't represent any External-External flows, the world markets are only used in AA for Internal-External and External-Internal.

--
John Abraham
jea@hbaspecto.com
403-232-1060

[2018-03-12 22:52] bstabler commented on #87
I can see in the properties file that there are two tokens, one for each file:

[code]

In ```SWIM_VISUM_Main.py``` I can see that ```ta.world.zone.distances``` is used for getting the distance between external stations and world markets for calculating skims.  See this [line](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py#L849).  Probably the funny

[2018-03-12 23:30] bettinardi commented on #87
The two files are different but not by much.  There values are the same it's just that t0 has more world market to external station relationships - it's more complete.  So we should see if we can make python use the file that AA is already using - and just have one.

[2018-03-22 23:59] bettinardi opened #90 "Metro Case Select Link Issue"
From #59 which is getting closed, it seems like I recorded an issue where the Metro select link file is not properly pulling trips from the full set of trip records.  In addition to this there are notes to ensure that the SL_Summary table generate for multiple select link runs as well as for a single select link run (which it does).  So for this issue, I can provide the Metro file, it can be run c

[2018-03-23 00:04] bettinardi opened #91 "Negative Results in the Select Link Demand Matrices"
When we run/assign the SL demand matrices we get a warning of negative values in the demand matrices.  That's the primary issue copied from issue #59, here's the comment :
Initial testing returns a warning identifying negative values in the demand matrices. We will need to track down if there are indeed negative values in the matrices and where they are coming from.

Secondary issues that are rela

[2018-03-23 00:04] #59 closed

[2018-03-23 00:05] bettinardi commented on #59
Closed this issue and spawned issues 90 and 91 from this list - starting clean with those new issues, also remember that #85 is related.

[2018-04-05 17:25] nsdhakar commented on #82
Alex, I found the connector travel speed calculations in two xml files: [ initAutoAssignment.xml](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/initAutoAssignment.xml) and [pathBasedAssignmentSettings_Full.xml](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/pathBasedAssignmentSettings_Full.xml). I have updated them to remove the procedures

[2018-04-05 17:40] nsdhakar commented on #89
Alex, I found the truck cost calculation procedure in two xml files: [initAutoAssignment.xml](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/initAutoAssignment.xml) and [pathBasedAssignmentSettings_Full.xml](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/pathBasedAssignmentSettings_Full.xml).

Floor(144*[TOLL_PRTSYS(D)]+17.28*[LENGTH])

The

[2018-04-05 21:33] nsdhakar commented on #89
We recognize benefits of having different VOTs for peak and off-peak periods. Off-peak periods contains more mix of activities therefore, the value of time is generally lower than the peak periods where most of the mandatory activities happen.

However, for now, we will keep only one VOT for each mode (auto and truck). We will use the peak period VOTs from the table above (Metro VOT).

If needed,

[2018-04-20 23:30] bstabler commented on #81
To begin, I added notes on how to get started - https://github.com/tlumip/swimr#getting-started

[2018-04-27 20:47] bettinardi commented on #81
The current solution has a swimr package "developer" change the zone system being used within swimr.  We need an option for either the swimr package to dynamically determine which zone system is in the input database(s) or have a user input to the swimr reference and compare knit templates to have a point to the specific zone system to use for a given comparison.

Currently, ODOT needs to maintain

[2018-05-03 21:16] jfdman opened #92 "Make SWIMR zones dynamic"
Make SWIMR dynamic with respect to zone system so it works with small SWIM and any future updates to the zone system.

[2018-05-03 21:19] bettinardi commented on #92
Just a note - that if we're going to do this - which is a good thing to do.  We likley need to pull the zone shape information into the database, so that everything that swimr for all the information it plots is in the database - so this will require a change to swimr and to the database table list.

[2018-05-31 21:44] bstabler commented on #92
That's a great idea.  It will entail the following:
  - update the VISUM data export Python script to export the zone WKT strings
  - read the zone WKT strings into the sqlite swimviz db
  - get the swimr zone polygons from the swimviz db

[2018-05-31 21:55] bettinardi opened #93 "swimr - investigate issues in percent difference calculations"
A handful of errors have been identified in the swimR functions (specifically the inconsistent treatment of calculating the percent difference for tables like pop, employment and VMT - VMT seems to incorrectly reference the base year, while Pop and Employment) correct reference the comparison scenario year).

[2018-05-31 21:56] bettinardi opened #94 "swimr - Enhance to Include MPO historic and future comparisons"
MPO pop/emp level projections need to be added as a base comparison each time SWIM / swimR is run.

[2018-05-31 21:58] bettinardi opened #95 "swimr - Enhance - automated swimr to run after swim run"
We need to setup swimR to automatically generate at the end of every run - since we will always want to see it.  So as part of the model stream the user can turn on a swimr generation via tsteps.csv.

[2018-05-31 21:58] #81 closed

[2018-05-31 21:59] bettinardi commented on #81
The outstanding issues are being captured in a string of issues leading with "swimr"

[2018-05-31 22:02] bettinardi opened #96 "swimr - improve instructions"
Currently only Greg and RSG have the knowledge base to update the swimr package / functionality.  Additional instructions should be created to help guide ODOT in modifying the swimr package, or modifying the implementation of the package.

[2018-06-15 21:29] jfdman commented on #89
$21.62 (2017) = $19.29 (2010)
$14.38 (2017) = $12.83 (2010)
$43.75 (2017) = $39.04 (2010)

[2018-09-27 17:44] bettinardi opened #97 "Optimal number of Visum cores (move to Visum 18)"
When moving to Visum 18, we need to test and set the optimal number of cores - it makes a huge speed difference.  In my initial testing it seems like the best number might be between 8 and 16, but additional testing should occur.

[2018-10-30 16:47] bstabler commented on #92
We'll also update https://github.com/tlumip/tlumip/wiki/Visualizing-Outputs to discuss maps/zones in swimr

[2018-11-09 17:07] landisrm opened #98 "swimr - update wiki Visualizing-Outputs.md to include leaflet maps"
the attached file at [Visualizing-Outputs.txt](https://github.com/tlumip/tlumip/files/2566777/Visualizing-Outputs.txt) is a revision of [Visualizing-Outputs.md](https://github.com/tlumip/tlumip/wiki/Visualizing-Outputs) that adds leaflet maps to the wiki for swimr.  I don't have permission to edit the tlumip wiki so I have attached it here.

[2018-11-12 16:52] #98 closed

[2018-11-14 16:54] bettinardi commented on #93
I'll follow-up with some screenshots in an email, but I believe the issue is in yearly_summary lines 98, 112, 158 of - https://github.com/tlumip/swimr/blob/master/inst/rmarkdown/templates/compare_scenario/skeleton/skeleton.Rmd

[2018-11-15 19:09] landisrm commented on #93
I believe this issue is resolved with https://github.com/tlumip/swimr/pull/32

[2018-11-29 21:40] nsdhakar commented on #91
**Regarding the primary issue (negative values in demand matrices):**

The negative values exist in remaining SL demand matrices and are due to some OD pairs in a SL matrix containing more demand than total demand for the pairs. This happens for the pairs that have their trip paths traversing through multiple select links.

To calculate a SL demand matrix, a flow bundle is run for each select link

[2018-11-29 21:51] bettinardi commented on #91
That solution seems good to me.

[2018-11-29 21:53] nsdhakar commented on #90
Here is an update on this issue:

- There was a bug in the select link weaving process that identifies sequence of links. Also, the two time periods were converted to four time periods at some point in the development of SWIM. However, the Java code was not updated to account for the four time periods. Fixed the Java code to read all four time periods. The two fixes eliminated weaving errors.
- Th

[2018-11-29 21:56] bettinardi commented on #91
Actually, as I think about this a little more.  I'm pretty sure that we mainly get this issue for remaining matrices generated with just one select link chosen.

Could you please make sure to review and test a scenario where just one select link is used.

[2018-11-29 22:00] nsdhakar commented on #85
Here is an update on this issue:

Added a similar process (a new python script) into the SL module itself. The SL properties file is also updated include the new python script name and its output file name. The output of the process are OD pairs that do not have SL percent sum up to 100%. Those OD pairs need to be reviewed to make sure that there are no issues with the SL process. The wiki is upda

[2018-12-31 17:43] bettinardi opened #100 "CT Output Description in Wiki"
I'm noticing that we don't describe any of the CT specific output fields in Trips_CTTruck.csv in the wiki.  I'm currently looking for an explanation of the codes in the "truckType" field, but really all the fieds should be explained.

@rickdonnelly and @jfdman, can we please add a description of "Trips_CTTruck.csv" to the CT wiki page

[2019-01-04 16:01] bettinardi opened #101 "VIZ DB builder should run all TS years first using the user defined number of threads"
When using the following properties:
viz.max.concurrent.ts = 4
viz.max.concurrent.total = 12

The current code set is not properly completing the TS years first.  It seems to somewhat randomly choose to work on a given year within the maximums specified.

The java code related to launching the VIZ DB process is here:
https://github.com/tlumip/tlumip/blob/master/src/java/com/pb/tlumip/ao/VizDbBuild

[2019-01-04 20:39] bstabler commented on #101
From reviewing the log file, it looks like the order of years for the viz db build processes is random and therefore we can’t force it to do all the TS ones first.  I think we’ll need to update the code.

[2019-01-10 16:41] #97 closed

[2019-01-10 16:41] bettinardi commented on #97
We purchased a machine with 16 cores, so I think we are right in the sweet spot.

[2019-01-10 16:44] bettinardi opened #102 "Move to Visum 18"
It looks like we will need to build (zip) a new set of python libraries to properly interface with Visum 18.  Visum 18 interfaces with matrices a little different than 16.  Some calls in SWIM_Visum_Main.py might need to get updated as well.

As context, here is the error:
09-Jan-2019 20:34, INFO, load csv file: D:/swim2/Ref25_0_01_18/inputs/parameters/inpZMXFileNames.csv
09-Jan-2019 20:34, INFO, .

[2019-01-10 17:00] bettinardi commented on #102
I believe I found a hack to get this work - something close to a fix we just need to formalize it.

I copied the 13 files found here:
C:\Program Files\PTV Vision\PTV Visum 18\Exe\PythonModules\VisumPy

To here:
D:\swim2\model\lib\Python27\Lib\site-packages\VisumPy

@bstabler - maybe you can help QC this hotwire fix.  And if you think it is good enough, can you help me formalize this in the depende

[2019-01-16 23:06] bettinardi opened #103 "Update count data and plots in swimr"
We would like to update swim with some current counts.  This is done through count locations in Visum.  It looks like the viz db will scrape any additions up from the "output" file countlocations.csv.  So we should be good to add new AAWDT fields to the count locations and have them added to the database, However, we would like support to verify that the current fields are not hard coded, and if w

[2019-01-17 00:09] bettinardi commented on #85
I think the setup is working really well.  Just one issue - it seems like "sl_review.csv" generate empty if there are no problems.  Is it possible to update so that if there are no issues "sl_review.csv" does not generate?

Additionally, it would be great if a message could be written to the run log that indicated brought it to the users attention that there were issues in the sl_review.csv file.

[2019-01-17 00:13] bettinardi commented on #90
I like the improvements to the sl_summary.csv file.  One requested change -
In the run I just completed, there was no order to the rows that I could see.  Is it possible to order (sort) the rows by external station number, In/Out, and then period (assign class - could we change this name to period) before exporting?

[2019-01-17 21:05] #93 closed

[2019-01-17 22:34] #96 closed

[2019-01-17 22:37] bettinardi commented on #102
Let's not close this until #95 is also resolved

[2019-01-17 22:40] bettinardi commented on #102
Let's not close this until #89  is also resolved

[2019-01-17 22:43] bettinardi opened #104 "Add instructions on updating losInfo.csv to wiki page"
Instructions on updating / recreating losInfo.csv 👍 https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/parameters/losInfo.csv

[2019-01-17 23:06] bettinardi opened #105 "Update Transit Fare Instructions on Wiki"
@bstabler will update the wiki page on transit fares to include information on how to properly align (setup) the transit service area used by the generalized transit approach and the fare districts.
https://github.com/tlumip/tlumip/wiki/Transit-Assignment#fares

[2019-01-18 00:41] bettinardi commented on #102
@nsdhakar here are the steps from above summarized again.  After I looked at the files I was going to send, I think these instructions cover it.  Let me know if you need any thing additional from me to get Visum 18 running:

1. Updated property pointer to Visum 18

2. I copied the 13 files found here:
C:\Program Files\PTV Vision\PTV Visum 18\Exe\PythonModules\VisumPy

To here:
D:\swim2\model\lib\P

[2019-01-31 17:53] RAKnudson commented on #60
Joel will update PT cost coefficents.  Alex will run base year and review swimr html results for trip length and VMT (also count comparison).

[2019-01-31 17:54] #80 closed

[2019-01-31 18:19] RAKnudson commented on #84
We have verified in recent calls that "m" amtrak (rail) is used, and those lines have been updated.  "n" (air) is still an open question that needs to be revisited and better documented (resolved).

[2019-01-31 18:39] #90 closed

[2019-01-31 18:40] #91 closed

[2019-01-31 18:45] RAKnudson commented on #77
Better fix - update PT (or similar module) not to write-out files that have been marked (or not marked - Joel's decision) in the properties file.

[2019-01-31 18:48] #85 closed

[2019-01-31 23:57] bstabler commented on #104
This is done, see https://github.com/tlumip/tlumip/wiki/Transit-Assignment

[2019-02-01 21:23] bstabler commented on #105
I significantly cleaned-up the [Transit Assignment](https://github.com/tlumip/tlumip/wiki/Transit-Assignment) page, please review.  Thanks.

[2019-02-01 21:47] bstabler commented on #103
Maybe I'm confused, but it doesn't matter since the table is the same in each year and that's why there is only one in the all years DB?  Regardless, it is the first folder processed according to the dir() call:

https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/viz/all_Viz_DB.R#L32

[2019-02-01 23:47] bettinardi commented on #103
It matters because we will have 3 or so Visum networks for any given scenario.  SI pulls the count table from the Visum network and places it in the outputs folder.  If I don't remember (not do I want to try and remember) to keep the count table consistent in every Visum file, then the counts table will be different in different output years.  I want to know which version file I need to update the

[2019-02-02 15:08] bstabler commented on #103
Ok.  So, if the table can change by year, then it should be stored by year.  How about we update the script to store the count table by year?

[2019-02-02 15:18] bettinardi commented on #103
Disagree - it's base year data we only need one year.  Differing years just allows for easier management of the system.  Having a multi year file for base year data would make this worse.
I just need to know what year the base year data is pulling from.  Ideally it would be a year I could specify.

[2019-02-04 16:47] bettinardi commented on #103
Results of my testing so far -
 - I was able to code new count data into VIsum (still looking for clarity from @bstabler on which version file needs the correct count data input)
 - SWIM ran, populated the count locations csv files with the updated count data.
 - The Viz DB ran and populated with all the new data in the count tables.
 - swimr does not automatically pick up new count data in the fu

[2019-02-04 16:56] bettinardi commented on #103
Forgot to add - that I did successfully update the markdown template to use plot_traffic_count to plot a new set of count locations and multiple plots - so that works.  The note will be that we will want to refine that markdown template before we finalize #95

[2019-02-13 18:05] bettinardi commented on #76
A summary of the two view points / approaches to this issue, by Alex Bettinardi (to be edited by others):

Approach 1 - considers the fact the mid-day and night periods are largely unconstrained by capacity.  Travelers in those time periods rarely need to adjust path based on congestion levels.  Therefore a max demand hour is identified in that larger time period of the day, and that max demand is

[2019-02-15 02:39] rickdonnelly commented on #100
I tried to update this sometime in the past, and it appeared to work. But when I look at wiki tonight it is not there. I've put on Dropbox [here](https://www.dropbox.com/s/xqfpscrtti067fs/ctmodel_outputs.md) (GitHub doesn't allow Markdown attachments here) and am sending it to @bstabler to ask him to help me stitch it in. (The problem must be on my end, but unless @bstabler can see what I'm doing

[2019-02-15 17:22] bstabler commented on #100
I posted Rick's file here - https://github.com/tlumip/tlumip/wiki/CT#outputs

[2019-02-15 17:58] bettinardi commented on #100
This looks great
Just one extra detail - @rickdonnelly  - can we get the units for value, and I guess tons would be overkill, they are just american tons I assume.  But for value can we get if they are in dollars, or thousands, or millions... and what year dollars the output is in.

[2019-02-15 18:00] bettinardi commented on #100
Sorry one more - is there any other context you can add about the difference between a TT and a CS.  It looks like the CS represents the most common semi configuration, but do the Feds have any additional context we can link to - ideally a page with pictures of what these types look like would be the best - if it's out there for us to link to...

[2019-02-19 22:06] bettinardi commented on #105
Some questions after reviewing the new page:
https://github.com/tlumip/tlumip/wiki/Transit-Assignment#los-info - you should define P2E the first time it is used on the page.

https://github.com/tlumip/tlumip/wiki/Transit-Assignment#assignment-and-skimming - the following is never a good idea to write.  Now you need to explain why it should not be changed - what is it - "2. Assignment time interval

[2019-02-25 20:01] landisrm commented on #103
@bettinardi , here is the relevant code from `plot_traffic_count`.  So instead of these hard coded years, you would like it to find all columns of the form AAWDT_YYYY and simply plot all the years represented?

[code]

[2019-02-25 20:15] bettinardi commented on #103
Correct - thanks again

[2019-02-25 20:40] #103 closed

[2019-03-01 17:56] bettinardi commented on #75
From today's call - I think we should try and approach this as a formalized update of tsteps for "start model at arbitrary point" (instead of just a failed model run).  I think one way to think about this is removing the "i" aspect from tsteps, and just having the model setup assume what is needed for the "i" aspects.

[2019-03-01 19:19] nsdhakar commented on #102
Followed @bettinardi instructions using the existing SWIM setup and was able to run it successfully all the way to the end.

[2019-03-08 18:21] bettinardi opened #106 "Removal of transit lines"
I'm reviewing the code for a separate reason related getting the Slim halo run to work, and in that process I believe I have found an error in the code where transit routes are removed by year.
https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py#L590

This section of code likely needs to be removed

[2019-03-08 18:35] bettinardi commented on #106
As a follow-up it looks like this code is benign.  It appears that the user has to set Net to 0 to remove lines, currently all transit routes have a blank code for Net.  But this feature is not in the user guide.  On my quick review we don't have a table summarizing line route fields at all (should be added if it doesn't exist).  So the issue should be to add proper documentation on required trans

[2019-03-09 01:08] jfdman commented on #60
I have updated VOTs based on average hh income within each income bin/2080 (hours per year) * (0.5 if mandatory or 0.33 if non-mandatory)

[2019-03-09 01:08] jfdman commented on #60
[pt mode choice parameter revisions.xlsx](https://github.com/tlumip/tlumip/files/2947934/pt.mode.choice.parameter.revisions.xlsx)

[2019-03-09 01:08] #60 closed

[2019-03-12 18:43] bettinardi opened #107 "Remove world market input file that's not used."
The following file is identified in the properties file and is found in the parameters folder (ActivityConstraintsIWorldMarkets.csv):
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L642

However, looking through the code seems to verify that this file is never used (the data that is used is actually stored in the POI list 7 -World Markets - in the Visum

[2019-03-18 18:42] nsdhakar commented on #102
@bettinardi: as I have successfully run the VISUM 18 setup at my end, I am thinking to update the repository for the same. Should I update the master or you would like to have a new visum 18 branch?

[2019-03-18 19:23] bettinardi commented on #102
Update the master please and I will test.
I'm hoping that issue #89 can be resolved shortly after this issue, as I would like to be running the latest version of SWIM / Visum with issue #89 resolved (it's one of my higher priorities).

Thanks

[2019-03-18 21:23] nsdhakar commented on #89
@bettinardi: looking back at meeting notes from 06/15/2018 - "Rick posted a literature review of Truck VOTs with average recommended VOT ($39/hr). Close to Metro VOT ($43/hr)". So we still want to use Metro VOT of 43.75 $hr as decided before? (see the comment before Joel's)

[Cost Overview](https://github.com/tlumip/tlumip/wiki/Costs-Overview#2010-cost-assumptions) page says that the costs are in

[2019-03-18 21:28] bettinardi commented on #89
Please ignore the cost overview page - that's a copy and paste from the ABM discussion.  I want to complete a similar page for SWIM, but have not yet gotten to it yet - so all the of the information is for the ABM not SWIM - please ignore that page at this time.

My memory is that we agreed to just use Metro's assumptions for both auto and truck because that would allow us to be consistent with th

[2019-03-21 18:51] nsdhakar commented on #102
@bettinardi: I have updated the master for Visum 18 and Java 8. Please test. We can close the issue once you have tested and verified. Now I am working on the VOT issue.

[2019-03-25 18:41] nsdhakar commented on #89
Made VOT updates to two procedure files:

- [initAutoAssignment.xml](https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/initAutoAssignment.xml) - now running two PrT assignment procedures (peak and offpeak). Prior to every assignment, AUTO_COST is re-calculated using VOT for the assignment period.
- [pathBasedAssignmentSettings_Full.xml](https://github.com/tlumip/tlumip/bl

[2019-03-28 17:16] bettinardi commented on #89
As I'm looking back at the page - https://github.com/tlumip/tlumip/wiki/Costs-Overview
I think you were right to question whether the model dollar year is 2010 or 2009.  @jfdman, can we get a more definitive statement on whether it's 2010 or 2009.  Looking back I think I did purposefully put 2009, on that page, indicating that maybe I tracked down information that suggested that 2009 was correct.

[2019-03-28 20:41] bettinardi commented on #89
@nsdhakar - just from this from Joel from Dec 2018.  Looks like the 2010 should be adjusted one more year to 2009.  Can you see how big of a difference this makes to the files, and report back to this issue thread.

From Joel Dec 6th, 2018:
I feel like we have had conversations about year of cost and income in SWIM multiple times, and revised documents several times as well. The design doc clearly

[2019-03-28 22:35] jfdman commented on #89
Divide the 2010 VOTs by 1.03 to convert to 2009 VOTs

[2019-03-28 23:11] bettinardi opened #109 "MICROVIZ builder doesn't work"
Here's the error record from that latest run - note that it has never been successfully run, I believe is the first time we have had enough RAM to get to this error message:

8-Mar-2019 15:14, INFO, Finished building individual year micro viz db for D:\swim2\SWIMR_Test\outputs\t48
28-Mar-2019 15:14, INFO, [Previously saved workspace restored]
28-Mar-2019 15:14, INFO,
28-Mar-2019 15:14, INFO, Loadi

[2019-03-29 16:52] RAKnudson commented on #89
Since 2010 is barely beyond the Great Recession, 3% deflator seemed high.

A convenient way to adjust for inflation is to use the Oregon Employment Departments Inflation Calculator tool:
https://www.qualityinfo.org/ed-icalc/?at=1&t1=1~2019~2019

This source indicates 2010 dollars should be deflated by 2% instead of 3%.

Becky Knudson || Senior Transportation Economist || TPAU || Phone: 503.986.411

[2019-03-29 19:09] nsdhakar commented on #89
Ok, Applied a factor of 1.02 on 2010 VOTs. Updated cost calculations with VOTs in 2009 dollars. New cost calculations are:

TRUCK_COST = Floor(94.06*[TOLL_PRTSYS(D)]+11.29*[LENGTH])
AUTO_COST (Peak) = Floor(190.36*[TOLL_PRTSYS(A)]+22.84*[LENGTH])
AUTO_COST (Off Peak) = Floor(286.20*[TOLL_PRTSYS(A)]+34.34*[LENGTH])

Used Metro VOT assumptions (2009 dollars): $38.27/hr for trucks, $18.91/hr for auto

[2019-04-12 16:17] landisrm commented on #95
I believe this can be closed now.

[2019-04-12 19:00] bstabler commented on #105
I think we can now close this issue.

[2019-04-12 19:00] #105 closed

[2019-04-23 17:33] #95 closed

[2019-04-23 17:39] landisrm opened #111 "Move location of swimR templates"
Currently SWIM renders the swimR templates that are built into the R package.  This makes it difficult to modify them because they would need to be updated in the dependencies64.zip file.

To do:
  - copy swimR markdown templates to a new location like root/scenario/model/code/swimr
  - point to the new location in root/scenario/model/viz/swimr_render_rmd.R.  (this file should also be moved to roo

[2019-05-03 14:32] bettinardi opened #112 "Move Cost Assumptions in Visum Assignment Parameters to Properties file"
It has become clear that ODOT will likely need the option to update value of time and vehicle operating cost assumptions on a semi-regular basis, and for things like future scenarios (as MPGs go up and drivers switch to EVs, per mile costs are expected to drop, similarly new tax structures could increase per mile costs).

Right now operating costs and value of time assumptions are embedded in a st

[2019-05-03 15:56] jeabraham commented on #112
We need to check the transport cost coefficients in AA as well, for goods movements we usually have a composite cost function based on time and distance.  For personal movements we should be getting the logsum from the travel model, so if you change the coefficients in Visum it should automatically flow through into AA through the skim file.

Let’s check this when we’re doing our update in June/Ju

[2019-05-06 23:57] bstabler opened #113 "migrate to Python 3"
Python 2 will soon no longer be supported so we need to move all SWIM Python stuff to Python 3.

https://pythonclock.org/

[2019-06-28 20:46] bstabler opened #114 "replace spg with popsim"
and also clean up the swim python setup

[2019-06-29 00:50] bstabler commented on #114
As part of this, we also improved the installation of SWIM's required software dependencies.  See the [wiki](https://github.com/tlumip/tlumip/wiki/Installation) and the new files in the [lib](https://github.com/tlumip/tlumip/tree/popsim/root/model/lib) folder.

I still need to update the model runner calls to run PopSim instead of SPG.  See [module_commands.py](https://github.com/tlumip/tlumip/blo

[2019-07-05 18:01] bstabler commented on #114
I also created a page in the wiki for the new [POPSIMSPG](https://github.com/tlumip/tlumip/wiki/POPSIMSPG) module.

[2019-07-05 18:43] bstabler commented on #114
Users can run either SPG or POPSIMSPG as both are supported in the latest setup.

[2019-08-08 21:48] bettinardi commented on #109
A better solution (as opposed to working to fix this) might be to update the wiki and just say that it doesn’t work and has been moth balled.

[2019-08-08 22:15] #102 closed

[2019-08-08 22:29] #82 closed

[2019-08-16 15:51] rickdonnelly commented on #78
The AA and CT modules have evolved with varying degrees of integration and consistency over the years. AA is similar in many respects to classical multi-region input-output models in formulation and output data, although unique in microsimulation approach that enables very high level of spatial and temporal resolutions. From freight modeling standpoint AA produces several useful outputs, to includ

[2019-08-16 17:26] jfdman commented on #78
A few comments:
1) AA is an aggregate model, no microsimulation.
2) The spatial scale of data should be mentioned somewhere. FAF data is only available by FAF zones which are very aggregate (one zone for Portland\Vancouver\Salem and another for the rest of Oregon), with similar aggregations outside of Oregon. So FAF might be useful for understanding the quantity of travel but not useful for OD Pat

[2019-08-16 22:09] bettinardi commented on #66
A related note for whenever this issue can be addressed -
Remember to go back through the properties and inputs when redoing the AO and remove any old legacy toggles / flags / inputs that don't do anything.  This is a reminder for 'sl.visum.mode' specifically, but also a general effort should be made to ensure that all the inputs specified in SWIM are actually needed / used by the code.

Email fro

[2019-08-19 15:11] bettinardi commented on #78
I like all the context in Rick's post and agree with Joel's comments.  There's still a piece missing and I'm not sure the best way to complete this.

Rick's advice makes sense, but I'm still left with several questions on the specifics of how to take the recommendations, and mechanically program (or analyze) the proper SWIM data in the way that the comments suggest.   Meaning, it's not fully clear

[2019-09-04 16:44] bettinardi commented on #100
Email from Rick -

"...I am 100 percent certain that the values in CT are in current U.S. dollars and the weights in tons (2,000 lbs = 1 ton, also sometimes referred to as short tons). The CFS data are reported in thousands of tons and millions of dollars, and therefore so is the FAF. When CT reads the FAF database it converts them into individual dollars and tons, for in older versions of Java we

[2019-09-04 16:44] #100 closed

[2019-09-13 23:36] bstabler commented on #113
We're still using python 2.7 for everything, including PopSim.  See

https://github.com/tlumip/tlumip_dependencies/blob/master/build_swimpy.bat#L1

and

https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L19

[2019-09-23 14:40] bettinardi opened #121 "swimr legend issue"
The map legends don’t update when you switch between showing absolute difference versus percent difference

[2019-10-28 21:48] bettinardi opened #122 "Remove trade_forecast.csv"
It has been identified that SWIM doesn't actually use trade_forecast.csv
We agreed on 10-28-19 that Alex would do a test run without that file and verify that SWIM runs successfully.

[2019-10-29 14:41] bettinardi commented on #101
First off, let's remember issue #52 and if we can just build a separate AO monitor that runs Viz DB builders in the background as each year finishes - that would be the best solution.  If that can't be done, my new favorite way to address this would to not leave it up to an algorithm to determine what years to build in what order.  I would like to update tsteps so that the VIZ column can be coded

[2019-10-31 18:01] #89 closed

[2019-10-31 18:06] bettinardi commented on #112
A reminder that we intended to look at this when we were digging into AA,

I also wanted to capture that the AOC component of the calculation (for personal vehicles) should likely come straight from this parameter already defined.
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L135

So we still will need to add parameters for value of time values specif

[2019-11-06 16:18] bettinardi commented on #101
We should also consider having TSTEPs functionality that both indicates which years to run DB creator on and which years to delete individual year DBs on.  I'm thinking of this, because as we push the base run year into the future, we might want to keep database summaries from "historic" years in the repo (in the outputs for previous historic years) and not have the process delete them.  So we sho

[2019-11-06 17:23] bettinardi commented on #75
I think I figured out the way to configure tsteps to start at say 2020, assuming that 2009-2019 have been run successfully, in a "history" run.  So this is a good starting point, and maybe the setup could be improved a little bit, but I think this is almost resolved:

| Year | SI | NED | ALD | POPSIMSPG1 | AA | POPSIMSPG2 | PT | CT | TA | TR | PT - Logsums Only |
|------|----|-----|-----|---------

[2019-11-07 16:55] bettinardi commented on #112
I think the easiest solution to this is to put truck and auto AOC and VOT assumptions into a "Network" level user attribute into Visum, as opposed to buried in the procedure files (saved outside of Visum).  That will make them much easier to interface with.

[2019-11-07 21:24] bettinardi commented on #78
I'm going to capture this in an email as well, but here's one piece/question I'm hoping we can answer to help close this issue:

Can we write a few paragraphs on CT wiki page to explain what it means to have a trip record from CT or FAF as tagged in the "dataset" field in the CT trip output table:  https://github.com/tlumip/tlumip/wiki/CT#outputs

I'm hoping that if we explain where the trips tagg

[2019-11-12 22:02] bettinardi commented on #122
Determined that there was no impact to removing "trade_forecast.csv".  The repo has been updated removing this file from the basic SWIM setup.  Note that if there is ever any interest with the values in this file the NED processing script - make_base_scenario.py, which occurs as a pre-step to SWIM, still generates the trade_forecast.csv file for review.  It's just not required as a SWIM input and

[2019-11-12 22:02] #122 closed

[2019-11-12 23:55] bettinardi commented on #78
One additional request from Ben after reviewing the thread and thinking about how to use CT to help with Metro's Freight model work:

"I might ask him [Rick] to also add a section at the end of the CT page that is a bulleted list of the most appropriate outputs for various purposes:

-	economic studies -  AA (and one line why)
-	inter-regional trade– FAF (and one line why)
-	flows between Oregon a

[2019-11-13 17:42] bettinardi opened #123 "Migrate to Visum 20"
ODOT is installing Visum 20 and will conduct tests to determine if Visum 20 creates API connection issues with the SWIM, and assuming those can be resolved, if Visum 20 greatly changes / impacts model results.

[2019-11-13 19:19] rickdonnelly commented on #78
There are a couple of issues traveling together in this thread that perhaps have different resolutions:

+ I will update the output documentation to make this clearer, but the `dataset` field in the CT output marks which part of the model gave rise to a particular truck tour. All of the truck flows with one or both trip ends outside of Oregon, as well as most long-distance trips (>50 miles) within

[2019-11-13 22:04] bettinardi commented on #83
Capturing my current thought on approach:
I would like a wiki page devoted to model build / calibration documentation.  That page would sever as a TOC.  Each module would be documented separately in whatever format made sense for that module (wiki, word, pdf...).  The end test would be a series of swimr htmls, similar to how we finished our review with the peer review that captures the current fin

[2019-11-13 22:08] bettinardi commented on #64
I'm broadening this issue to do we need to re-develop CT in a larger way.  We have a series of open github issues around CT; #78 and #88 that demonstrate that CT needs additional clarity in outputs and operation, and recent comparison of SWIM results show larger fractures (quality issues) in the output from CT.  Of specific concern is the large and wide spread over assignment of truck vehicles on

[2019-11-14 00:01] bettinardi commented on #83
One more comment, the model build documentation needs are changing for some modules.  Example, TA now uses Visum and SPG now uses PopulationSim.  The model build documentation therefore becomes much shorter.  It doesn't need to describe the entire software design, it can point to other reference material for that detail.  Instead sections on SPG or TA can now just talk about how those existing sof

[2019-11-19 19:29] jfdman commented on #77
this should be done - test a properties file without tour file.

[2019-11-19 23:36] bettinardi opened #124 "Versioning PopSim"
Currently SWIM has a version of PopSim embedded from ~june 2019:  https://github.com/tlumip/tlumip_dependencies/tree/master/swimpy

Since PopSim has it's own development cycle it would be ideal if SWIM could be updated with the latest PopSim in an easier way.  Maybe something that uses the PopSim resources install:  https://github.com/RSGInc/odot_populationsim_resources

Where the current "swimpy"

[2019-11-23 16:26] bettinardi commented on #64
Wanted to capture related idea.  I think the team should investigate the CT flows at the external stations and better document how they are determined.  Since I-84 is consistently too high over the entire stretch (due to truck volumes), it occurs to me that the issue probably goes all the way back to the external station for I-84.  So it could be that we just need more peer review and documentatio

[2019-11-23 16:38] bettinardi commented on #107
@jfdman - I just did a test where I commented out the following line -
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L702

PT hung right at the beginning (hasn't crashed, but Java hasn't moved forward from this line):

22-Nov-2019 22:41, INFO, Number of people who listed no occupation, no index 2507397
22-Nov-2019 22:41, INFO, CommandFile Path: D:/swim

[2019-11-23 16:45] bettinardi commented on #77
@jfdman - I just did a test where I commented out the following lines:
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L488
https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/globalTemplate.properties#L624

PT again hangs, just like it did under the SWIM 2.5 code (the test and message below is from the PopSim SWIM 2.6 code/ setup).

#### S

[2019-11-27 17:18] bettinardi opened #125 "Modernize SWIM linkages to Census Industry and Occupation codes"
SWIM maps the occupation and industry codes used with the various SWIM steps to census PUMS tables (specifically the INDP and OCCP person fields).  This linkage is completed in the files [acs_occupation_2005_2009.csv](https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/parameters/acs_occupation_2005_2009.csv) and [pums_to_split_industry.csv](https://github.com/tlumip/tlumip/blob/mast

[2019-11-27 17:21] bettinardi commented on #123
Some issue with pulling counts exists, need to investigate further:

26-Nov-2019 12:55, INFO, load csv file: D:/swim2/Ref25_0_02_V20/inputs/parameters/linkFieldNames.csv
26-Nov-2019 12:55, INFO, Create Viz output file:AllLinks.csv
26-Nov-2019 12:55, INFO, save csv file: AllLinks.csv
26-Nov-2019 12:55, INFO, Create SWIM count locations for Viz
26-Nov-2019 12:55, INFO, Traceback (most recent call la

[2019-12-18 23:16] bettinardi commented on #125
Additional context from a reply from Joel:
The file https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/parameters/acs_occupation_2005_2009_forPopSim.csv is used to code the PECAS broad occupation category from the PUMS occupation. It should be checked to make sure that the codes are correct. It was recently updated with new codes for ACS occupations in the 2013 to 2017 PUMS data as

[2019-12-26 22:50] bettinardi commented on #112
A reminder to myself - I believe I have a solution worked out and I have updated the wiki accordingly.  However, I don't want to fully push this forward until we have SWIM 2.6 functional in Visum 2020.

Here are notes to myself as to where I kept my work:
\\s6000e\6420only\Statewide\Tools\SWIM\SWIM_26\ModelBuild\03_Network\_VOT_AOC

https://github.com/tlumip/tlumip/wiki/Traffic-Assignment#link-imp

[2020-01-23 16:42] #114 closed

[2020-01-23 16:51] bettinardi opened #126 "Redesign Create Seed function in PopSimSPG"
Currently PopSimSPG is built to assume that the seeds only need to be processed for the base year and all years into the future will use the same census seed starting point.

1. The user should be able to control what years get seeds re-generated.  I propose having the seed creation step as a separate call in tsteps.  So that the user has control over what years need new seed data.

2.  Step one c

[2020-01-28 01:56] jfdman commented on #77
Try leaving in the property but removing the file name

[2020-01-28 15:49] bettinardi commented on #77
Just to be sure I'm understanding the instruction - you are saying to test changing the following lines from:
ldt.tours=@ROOT.DIR@/@SCENARIO.NAME@/@SCENARIO.OUTPUTS@/t@CURRENT.INTERVAL@/Tours_LDT.csv
and
sdt.person.tours=@ROOT.DIR@/@SCENARIO.NAME@/@SCENARIO.OUTPUTS@/t@CURRENT.INTERVAL@/Tours_SDT.csv

to
ldt.tours=
and
sdt.person.tours=

https://github.com/tlumip/tlumip/blob/master/root/scenario/in

[2020-01-28 23:58] bettinardi commented on #77
I just did a test with:
ldt.tours=
and
sdt.person.tours=

And PT hung with the following message:
28-Jan-2020 15:38, INFO, HHWorkerTask08, Choosing LDT binary and patterns.
28-Jan-2020 15:38, INFO, Creating new LDT tours
28-Jan-2020 15:38, INFO, Created 693 LDT tours.
28-Jan-2020 15:38, INFO, HHWorkerTask08, Sending long distance tours  to the long distance worker.
28-Jan-2020 15:38, INFO, HHWorke

[2020-02-02 19:24] bstabler commented on #77
Maybe we need to update LDT as well since the code creates an LDT data writer on [line 89](https://github.com/tlumip/pasaat_swim/blob/master/src/java/com/pb/models/pt/ldt/LDTDataWriter.java#L89) based on the `ldt.tours` token?

[2020-02-02 19:37] bstabler commented on #107
I looked in the tlumip code, the pasaat_swim code, and the tlumip python code and I can't any references to `si.activityconstraintsi.worldmarkets`.  Are you sure PT hung because of this change?

[2020-02-03 15:39] bettinardi commented on #107
I'll do another test to confirm

[2020-02-07 21:44] #123 closed

[2020-02-07 21:47] #112 closed

[2020-02-07 21:48] #107 closed

[2020-02-07 21:48] #77 closed

[2020-02-07 21:50] bettinardi commented on #75
Still some testing with AA taking a long time in the first year of the re-run (2019), but I think this is really close to done:
https://github.com/tlumip/tlumip/tree/master/root/scenario/model/config

[2020-02-12 15:13] bettinardi opened #127 "Unused columns in activityconstraintsi"
We believe that the 30 columns in activityconstraintsi that are currently populated with zeros by the code are not actually needed by AA, see columns here:  https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py#L143

The first test to see if this issue can be resolved is to remove these columns and see if AA still runs correctly.

[2020-02-12 15:48] bettinardi commented on #127
Correction from above - the activityconstraintsi file is actually a flat file and does not have specific columns for each activity, so the intent is the same, but the test is actually above removing all the rows that reference the 30 zero'd out activities as opposed to removing columns.

[2020-02-12 18:12] bettinardi commented on #127
From Graham:

The model will still run. The thing to confirm is that it's still doing the same thing, and not putting importers and exporters inside the region - i.e. there shouldn't be nonzero entries in ActivityLocations for importers and exporters inside the region.

[2020-02-13 17:36] AzrgExplorers commented on #127
I've run a scenario without those zero entries, and it's identical to the one with the zero entries. No importers or exporters inside the region. So we can safely remove these entries.

[2020-02-13 17:42] graham97 commented on #127
I've run a scenario without those zero entries, and it's identical to the one with the zero entries. No importers or exporters inside the region. So we can safely remove these entries.

[2020-02-21 15:22] bettinardi commented on #111
Capturing a quick reminder on where the templates are currently kept: https://github.com/tlumip/tlumip_dependencies/blob/master/R-3.3.2/library/swimr/rmarkdown/templates/single_scenario/skeleton/skeleton.Rmd

[2020-02-21 19:50] #101 closed

[2020-02-21 19:50] bettinardi commented on #52
Copying notes from issue 101 to close issue 101:

We should also consider having TSTEPs functionality that both indicates which years to run DB creator on and which years to delete individual year DBs on. I'm thinking of this, because as we push the base run year into the future, we might want to keep database summaries from "historic" years in the repo (in the outputs for previous historic years)

[2020-04-10 00:55] bettinardi opened #128 "ActivityTotalsI.csv Input and Output file"
Today it was discovered (or we remembered) that ActivityTotalsI.csv is both an input and an output file, it resides here - https://github.com/tlumip/tlumip/blob/master/root/scenario/inputs/parameters/ActivityTotalsI.csv

Most of the totals are taken from zonal attribute and world market (POI) totals in visum.  However there are several dozen inputs (the ones that came originally from trade_forecas

[2020-04-10 14:23] bettinardi commented on #8
New idea - instead of removing them, let's not have SWIM build a monster log files for all years.  Let's have SWIM put module specific log files in the given output folders.  So you want to see AA logs for t20, you go to outputs\t20\AA.log (or something similar)

[2020-05-05 17:07] bettinardi opened #129 "CT Dollar years"
In digging through emails, it looks like CT output is in 2012.  We need to ensure that is clear on the wiki - https://github.com/tlumip/tlumip/wiki/CT

But before we do, we need to ensure 2012 is correct and we should explore if it can be made consistent with the rest of SWIM, which I believe is 2009 (but we should make that clearer on the wiki too).

Here is email context from Rick in 2017:

No,

[2020-05-19 20:54] bettinardi commented on #111
Capturing some notes when we get back to this.

There's an issue in the "compare" markdown template when we push out to 2050 and ignore years 2009-2019, something in lines - 134-141 of skeleton.Rmd
D:\swim2\model\lib\R-3.3.2\library\swimr\rmarkdown\templates\compare_scenario\skeleton

For the population template -
D:\swim2\model\lib\R-3.3.2\library\swimr\rmarkdown\templates\population\skeleton

Th

[2020-06-09 21:56] #106 closed

[2020-06-25 21:14] bettinardi commented on #88
FAF is currently on 4.5.1- https://faf.ornl.gov/fafweb/
One way to tackle and close this issue might be to have RSG complete this FAF-SWIM update and write the instructions as they complete this.

[2020-06-25 21:36] bettinardi commented on #88
I'm capturing this request (in an email from Dec 2019) to hope this gets addressed during this issue:

We have noted that we need to reduce the truck volume on I-84.  As I read through the model build documentation, I see that this file was created with a google API.  And all shipments from a given FAF zone were assigned to a given SWIM external station.   The text above from the wiki seems to ind

[2020-07-01 22:17] #124 closed

[2020-07-01 22:37] bstabler commented on #88
do #129 at the same time

[2020-07-01 22:42] bstabler opened #130 "add AA source code to tlumip GitHub"

[2020-07-01 22:44] bstabler opened #131 "ensure population is properly controlled"

[2020-07-02 21:19] bettinardi commented on #70
Summary for WOC 7 -
AZONE is hard coded to be defined by the Visum attribute NO.  BZONE needs be hard coded to be defined by the Visum zone attribute MAINZONENO.  This will require updates to SWIM_VISUM_Main.py, specifically how zoneFieldNames.csv is used in relation to Bzone

A second piece of this issue is reviewing external station (5000 series) needs / design and seeing if external stations ne

[2020-07-02 21:23] bettinardi commented on #71
I'm going to do some tests in early July to see what work remains and better scope what issues remain for issues 70 and 71

[2020-07-02 21:41] bettinardi commented on #73
This is on Alex to close.
I would have already closed it, but I'm realizing some new ODOT security change is stopping my ability to push and pull from git - so once I get that working again, I will update the repo and close this ticket.

[2020-07-02 21:46] bettinardi commented on #75
Summary for WOC 7 -
This is an issue that will require some investigation budget.  ODOT has a TSTEP configuration they believe is correct to start a run in 2019/20 (off of a SWIM run from 2009-2019).  However, it does not seem to be properly restarting the run in 2019.  There seems to be an AA link back to the 2009 start year.  So some AO investigation is needed to understand what is not working c

[2020-07-02 21:51] bettinardi commented on #78
Summary for WOC 7 -
This issue is tied to #88 and #129.  The idea is that RSG would be brought on to complete these three issues with Rick's support.  For this specific issue, #78, RSG would be asked to review all of the content captured on this issue thread and to boil it down to some guidance (in working with Rick and HBA) that can be added to the wiki.

[2020-07-03 00:03] bettinardi commented on #86
Summary for WOC 7 -
Currently ODOT has a functional SWIM 2.6 with updated PopSim and AA.  ODOT is running a reference and Rough Roads Ahead (RRA) scenario to test an extreme scenario against a reference that might benefit from turning feedback on.  ODOT will finish the runs and then do a test with the RRA scenario where feedback is turned on.  The intent of the test (playing with the feedback sett

[2020-07-03 00:11] bettinardi commented on #88
Summary for WOC 7 -
To date we have not been able to develop the instruction set ODOT is looking for to provide ODOT written steps of how to pull a recent FAF product (like 4.5.1 currently) and update SWIM-CT input files to use the latest product.  The intent of this issue / task is to have RSG pull the latest FAF product, and working with Rick update the CT inputs to use the latest FAF.  As this

[2020-07-03 00:15] bettinardi commented on #129
See issue #88 - as those instructions are written.  For how to update CT to the latest FAF.  Part of those instruction need to include a section in the instructions specifically on how dollars (value) from FAF is taken by CT and used / converted.  So that is endless clear to the user what the end CT value is (what year the dollars are) that is reported in the CT output (SWIM's 2009 dollars, or the

[2020-07-06 05:09] jeabraham commented on #86
Sounds good. The AA economic performance measures should be in a good state to use to drive NED feedback.

We'll have to watch/investigate what technology scaling does.  When NED feedback chooses to grow an industry more slowly, technology scaling might reduce the consumption rates of that industry's output. Say things suck for healthcare, so healthcare shrinks (or grows more slowly) due to NED fe

[2020-07-07 01:02] bettinardi commented on #71
@jeabraham - can I confirm that AA needs (or assumes it will receive)  STATEFIPS and COUNTYFIPS.  In my testing it seems that AA crashes without these fields - does that sound right?

[2020-07-07 20:26] bettinardi commented on #71
@jfdman and @bstabler, I'm trying to run some tests to understand this issue.  PT keeps hanging when I remove certain fields from alpha2beta.csv.  Is there a way to quickly identify what fields PT assumes exist in alpha2beta, or better yet - which fields it uses in it's process / calculations?

[2020-07-08 20:34] graham97 commented on #71
AA does indeed need STATEFIPS and COUNTYFIPS in alpha2beta, but I think we could take this out. All it does with those fields is combine them into a FIPS field in the FloorspaceZonesI file. It looks like the FIPS field used to be used for county-level output summaries, but the code that does that is no longer referenced anywhere.

I'd like to get John's confirmation (when he gets back next week) b

[2020-07-08 20:38] bettinardi commented on #71
Thank you Graham.  I would appreciate the effort to remove these fields from AA (if easy / possible), but an option B I'm considering is keeping them in alpha2beta but having them built in Python off of the State and County fields that we maintain.  I haven't been maintaining the FIPS fields, so it's dangerous.  And those no reason to have a user maintain both a character name and a numeric refere

[2020-07-09 20:36] bettinardi commented on #86
Sounds like we will need to bring HBA in as we review the feedback results.  I'm just getting ready to kick-off a feedback run.  This is a note to the issue that **we need to go back and update the wiki**.  https://github.com/tlumip/tlumip/wiki/NED#using-ned-feedback

The wiki does not properly reference the properties - how to turn on feedback (true/false flag) and how to modify the elasticities

[2020-07-09 20:44] bettinardi commented on #86
@jfdman - I thought I was going to be able to figure out how to run feedback, but I'm not able to figure out from the instructions and the code how to set this up properly (specifically how to point the code back to a reference scenario to calculate the feedback).  Thoughts on how I can get support to update the instructions to figure out how to set this up?

Atting Ben too - @bstabler

[2020-07-14 21:28] bettinardi commented on #73
Closing now

[2020-07-14 21:28] #73 closed

[2020-07-14 22:43] bettinardi commented on #71
Things learned to-date.  I have learned that the following fields can be dropped without any apparent issue:

[2020-07-14 23:20] bettinardi commented on #87
WOC 7 summary of the issue -

There are two inputs that are basically the same in SWIM:
ta.world.zone.distances = @ROOT.DIR@/@SCENARIO.NAME@/@SCENARIO.INPUTS@/parameters/worldZoneDistances.csv

world.to.external.distances = @ROOT.DIR@/@SCENARIO.NAME@/@SCENARIO.INPUTS@/t0/WorldZoneExternalStationDistances.csv

The second one is the file that was deemed more complete / correct in the review above, b

[2020-07-14 23:28] bettinardi commented on #111
Summarizing for WOC 7
See the steps laid out in the first and second comments.
After that is addressed (the location of the template), note that it would be ideal to provide some hours to look back at some of these templates and address some known issues - comment 3 provides some of these.

[2020-07-14 23:31] bettinardi commented on #121
WOC 7 summary -
In #111 I noted that it would be ideal for the templates to be reviewed after their location is updated.  This is related.  Issue #111 should be resolved first, then a review and cleaning of know issues should be made.  Although I believe this issue is a function issue as opposed to a template issue, so it may be slightly different there.

[2020-07-14 23:42] bettinardi commented on #127
WOC 7 Summary -

This Task needs to edit SWIM_VISUM_Main such that activityconstraintsi.csv is no longer exported with the 30 zero activities identified in the first comment.  This means removing several sections of code and then testing, See ~500 to 550 (in addition to defined fields at 143):

https://github.com/tlumip/tlumip/blob/master/root/scenario/model/code/visum/SWIM_VISUM_Main.py#L505

The

[2020-07-14 23:44] bettinardi commented on #128
WOC 7 summary - see only comment

[2020-07-14 23:45] bettinardi commented on #130
WOC 7 summary -
Obtain AA source code and add it to the TLUMIP repo

[2020-07-14 23:53] bettinardi commented on #52
WOC 7 summary -

This task adds a new feature to tsteps.  It allows the user easier ability to configure how the SWIM databases build.  At the end of each year in tsteps there should be a DB (or similar) field.  We might need something besides "1".  The idea would be that non-end years would get a different flag to start off and start building the DB for that year without running in series; the ne

[2020-07-14 23:59] bettinardi commented on #131
WOC 7 summary -

This task likely needs a scoping element prior to coding taking place.  The main issue here is that NED (and the state) provides a population control to SWIM.  That total population control (by age) is not currently being used PopSim and it needs to be.  However that is just one issue here.  Related are questions around how PUMS weights should potentially be re-weighted for future

[2020-07-15 00:02] bettinardi commented on #75
I came up with a potential solution using https://github.com/tlumip/tlumip/wiki/Helper-Scripts#runrestartr.   Need to discuss with the team and re-think what this task should cover.

[2020-07-15 01:37] jfdman commented on #71
The following properties are listed in the properties file:

alpha2beta.file                                       = @ROOT.DIR@/@SCENARIO.NAME@/@SCENARIO.OUTPUTS@/t@CURRENT.INTERVAL@/alpha2beta.csv
alpha.name                                            = Azone
beta.name                                             = Bzone
pumaField.name                                        = PUMA2000
stateLabelFie

[2020-07-15 14:41] bettinardi commented on #86
The run I setup just completed and I think we have learned two things:
  1.  I don't know how to turn on NED Feedback.  So the first step of this issue will be to go back and improve the instructions/wiki so that it is clear how the user turns on and adjusts the Feedback.
  2.  AA seems to clearly be having a hard time with the extreme RRA scenario (taking a very long time to converge and wildly o

[2020-07-15 22:28] bstabler commented on #71
- remove fields we know we can
  - add dynamic FIPS coding
  - @bettinardi remove fields for ALD not used
  - can we remove PECASNAME; is it needed by AA?

[2020-07-15 22:28] bstabler commented on #131
we'll make this only a design task and then we'll open a new issue for implementing the design later

[2020-07-15 22:37] bstabler commented on #52
- update tsteps to:
  - if user puts a 1 in the year row, viz column then if not last year, create db and don't wait
  - if user puts a 1 in the last year row, viz column then create db and then compile all year dbs found, and then delete all dbs with a 1 in their year row, viz column

[2020-07-15 22:51] bstabler commented on #86
- @bettinardi share latest NED code since the repo has an old version
  - run it
  - get it merged in, i.e. maybe create new global properties and update the ned.py script as needed
  - update the documentation for how to run it
  - superficial results check, which likely results in a new issue to make revisions / calibration to the model

[2020-07-15 22:57] bstabler commented on #75
- @bettinardi describe the process in the wiki
  - we will try it out and suggest improvements, documentation updates

[2020-07-15 23:01] bstabler commented on #88
start with "primarily provide ODOT with an instruction set for how to update CT to the latest FAF in the future"

[2020-07-29 18:24] bstabler commented on #130
Will be at https://github.com/tlumip/AA

[2020-07-29 18:32] bstabler opened #132 "tlumip source code"
We need to add the following required source code to the tlumip project:
  - censusdata.jar
  - common-base.jar
  - common-daf-v2.jar
  - common-daf-v3.jar
  - log4j-1.2.9.jar
  - pasaat.jar (we already have this [here](https://github.com/tlumip/pasaat_swim))
  - pecas.jar (this will go [here](https://github.com/tlumip/AA))
  - reference.jar
  - synpop.jar (we already have this [here](https://gith

[2020-07-29 18:57] bstabler commented on #86
the latest NED code is at https://github.com/tlumip/tlumip/blob/latest-ned/root/scenario/model/code/NED.py

[2020-08-07 22:48] bstabler commented on #130
I believe this is now done.  @bettinardi?

[2020-08-07 22:49] bstabler commented on #132
FYI, the [AA repo](https://github.com/tlumip/AA) now contains the common-based source code

[2020-08-12 00:23] bettinardi commented on #130
You are much better suited to make the call on this (source code is not my area of expertise).  So I trust your assessment that this issue is done and will mark close and complete.

[2020-08-12 00:23] #130 closed

[2020-08-19 05:33] bettinardi commented on #129
A recent email between Becky and Rick to add to this thread for additional context and information:

From Becky -
SWIM pulls in FAF data, but what I don’t know are the reporting units in dollars. I am guessing that FAF 4 2012 data was the input, but I would like to know if the dollars were adjusted to the SWIM base year dollars of 2009?

From Rick-
Hi Becky, nice to hear from you. I will go back t

[2020-08-19 06:01] bettinardi commented on #75
I put an initial draft of this process here -
https://github.com/tlumip/tlumip/wiki/Helper-Scripts#runfuturer

Maybe after we play and tweak it, we can put it in a more formal spot on the wiki

[2020-08-19 19:52] bettinardi commented on #128
Want to capture a question related to this issue -
Trade and government forecasts were grew into the future.  Where does that information (growth into the future) now come from?

[2020-08-24 16:50] bettinardi opened #133 "Pre-loading long distance travel in assignment"
A comment from our Arizona peers (Keith Killough)-
  - The Arizona Travel Demand Model (AZTDM) generalized cost function does not include a distance term.  Since freeways typically result in more circuitous routes, I'm not surprised by what you're seeing with the distance term included.  IMHO, travel time generally outweighs distance for freight movements, so I would not include distance.
  - AZTD

[2020-08-27 22:11] bettinardi commented on #131
Recent SWIM analysis has looked into worker distributions.  I'm having trouble believing my results, but they are so simple I'm not sure how my analysis could be wrong:

hh <- read.csv("//xd6420thing1/d/swim2/Ref25_0_05_GC/outputs/t29/SynPopH.csv",as.is=T)
per <- read.csv("//xd6420thing1/d/swim2/Ref25_0_05_GC/outputs/t29/SynPopP.csv",as.is=T)
hh.W <- tapply(as.numeric(per$RLABOR>0),per$HH_ID,sum)

[2020-08-27 22:24] jfdman commented on #131
Either something was changed in PopulationSim implementation since we initially delivered it, or something is wrong in your analysis. SPG2 uses population by age and workers per household as controls and matches these controls very well, as documented in the PopulationSim development deliverable report and slide deck.

[2020-08-27 22:43] bettinardi commented on #131
Thank you for the quick response Joel.  It appears my mistake was in not fully understanding "RLABOR".  I thought "0" meant a non-worker, but here i can see that 0 and 6 are non-workers:
https://github.com/tlumip/tlumip/wiki/POPSIMSPG#filename-synpoppcsv

It appears the sky is not falling.

[2020-08-27 23:02] bettinardi commented on #131
corrected line from code above:
hh.W <- tapply(as.numeric(per$RLABOR>0 & per$RLABOR<6),per$HH_ID,sum)

[2020-08-28 20:33] goreaditya commented on #88
@bettinardi There's a script in the the package [swimctr](https://github.com/tlumip/swimctr) called [preprocess_faf4_database](https://github.com/tlumip/swimctr/blob/master/R/preprocess_faf4_database.R) which I am planning to use as a template to process raw data. According to the description in the script the function uses a set of FAF region pairs (called outer regions) to process flows that are

[2020-09-01 00:21] bettinardi commented on #88
This is a great question / find and could be the solution to my comment in this thread above from June 25th - where we are getting flows that are too high on I-84 and too low on I-5.  I do not know the answer to this questions. @bstabler, hopefully we can get Rick to respond to this once we have access to him.

[2020-09-01 22:07] bstabler commented on #132
This is done, along with some updates to the AA repo and build process and docs as well.  I also updated the build docs - https://github.com/tlumip/tlumip/wiki/build.

[2020-09-01 22:08] #132 closed

[2020-09-11 17:03] nsdhakar commented on #86
The setup is working with the new script, though the following should be resolved before closing the issue:
1. inputs\t0\trade_forecast.csv wasn't available in the setup. Presently, using an older file. Need to find out how that file is created.
2. In global properties template, "ned.feedback_elasticity" is currently set to 1.2. Need to do tests to come up with a reasonable elasticity value for NE

[2020-09-18 22:35] bstabler commented on #86
@RAKnudson Notes from discussion with Carl Batten about NED feedback, August 31, 2020

Developing the value for the NED feedback elasticity is an iterative process based on the composite utilities.

Step 1: run SWIM reference scenario though time; evaluate the composite utilities for relationship patterns. The composite utilities indicate the “desirability” of the area, which is implemented using

[2020-10-07 20:26] nsdhakar commented on #131
During the meeting on 09/25/2020, the following steps are decided under this issue:

Control data
-	We decided to try simplifying the SPG1 controls to only those created by NED data
-	This means eliminating controls based on external data that is difficult to develop for future years such as hh_dist.csv
-	It also means using the outputs from SPG1 to create the additional controls needed for SPG2
-

[2020-10-12 20:00] nsdhakar commented on #75
The objective here is to save runtime by not running previous years but maintain the same data flow across years. Alex'x approach above is sufficient for that. Updated the t29FileCopy.R to include necessary files and automate paths.

Here are steps to run for a new validation year:

1. Have a model run with outputs produced up to the validation year (ex. t26)
1. Setup a new scenario with the model

[2020-10-26 19:36] nsdhakar commented on #88
**Response from Rick Donnelly (10/26/2020):**

The process I developed tries to get around the fact that SWIM does not have an external network (i.e., it is a windowed network). Thus, when FAF flows enter or leave the SWIM cordon I need to figure where they do so. Fortunately Oregon is on the edge of the continent, so coming up with logic for this was easy. Anything that flows between Washington a

[2020-11-18 23:39] bstabler opened #135 "speed up populationsim"
it runs much slower than the previous SPG1/SPG2, but it produces higher quality results

[2020-11-19 14:34] landisrm commented on #121
I think this post shows how to do it.  https://gis.stackexchange.com/a/301516/169725

[2020-12-09 18:11] #111 closed

[2020-12-09 21:16] #121 closed

[2020-12-10 01:14] bettinardi opened #136 "Transit assignment review"
ODOT was attempting to review the latest transit network revisions.  In those revisions it was identified that all intercity lines needed a returning route - can't be just one direction.  For a while the SWIM network has only had one direction for the majority of the intercity transit lines.  To verify that the new directional lines were coded correctly, ODOT attempted to review the transit assign

[2020-12-10 16:34] bettinardi commented on #87
@nsdhakar - I am reviewing this to close it.  A couple of questions.  I see that parameters/worldZoneDistances.csv still exists (it hasn't been deleted), is there any reason that it was not deleted that I should be aware of?

Also, I have reviewed the properties, files, and run the code - all of that seems correct (except the file deletion).  The last thing I want to check is that the code was rev

[2020-12-10 16:53] bettinardi commented on #128
@goreaditya it looks like this has been addressed, but I would like to remove parameters \ ActivityTotalsI.csv from the repo if it is no longer and input (instead it is an output).  Is my understanding correct?  Can I remove this file and rerun?

[2020-12-10 16:56] bettinardi commented on #86
No one believed this day would come, but I am finally closing this issue with a successful resolution :)

[2020-12-10 16:56] #86 closed

[2020-12-10 19:39] nsdhakar commented on #87
@bettinardi : Yes, the file should be deleted. Looks like, while pushing changes, I focused more on code changes and not on removing the file. I will remove it. You can see the code changes by looking at my commit, it will show you the diff between the old and new files. Let me know if you need any help there.

I made the following changes:

- In the global template properties, pointed the token s

[2020-12-10 22:18] #75 closed

[2020-12-10 23:24] bettinardi commented on #87
In the test I just did, PT hung when I deleted parameters/worldZoneDistances.csv.
I'm guessing PT most load this file - @nsdhakar can you please check.

I'm starting another run where I add that file back in to verify that's what is causing the PT hangup.

[2020-12-11 01:51] bettinardi commented on #87
As a follow-up, when I added parameters/worldZoneDistances.csv back, PT ran fine.  So I think PT must be using this file.

[2020-12-16 18:14] bettinardi opened #137 "Setting Output Version file GPA"
Currently SWIM creates messy Visum output (the version file has all layers turned on).  One idea to protect against this would be to save the input version file GPA out at the beginning and then reload the GPA before each version file is saved...

To graphics parameters of a loaded version:
Visum.Net.GraphicParameters.Save(FileName)

To load the graphics from a saved GPA file:
Visum.Net.GraphicPar

[2020-12-16 18:22] bettinardi commented on #136
Related to this issue, TR (transit assignment) seems to be consistently taking over 2 hours (ODOT remembers this taking 1 hour in the past.  In past tests, setting the number of cores used can impact transit assignment.  We might consider doing TR speed tests with 4, 8, 12, 16 cores and see if there is a speed difference.  If there is, there is a way to set the number of cores Visum should use in

[2020-12-16 23:47] bettinardi opened #138 "SWIM Small Update"
SWIM small worked under 2.5.  The team lost track of updating SWIM small during SWIM 2.6 updates.  This issue exists to see if we can get SWIM small working again.

[2020-12-21 20:50] nsdhakar commented on #88
**Rick's email on Dec 17, 2020**

Over the past two weeks I’ve dug out the 2006 and 2012 Commercial Vehicle Survey (CVS) from Ontario and have sliced and diced it a few different ways. You can see [here](https://www.dropbox.com/s/1rxay063mzkgut7/rebuild_CVS_database_dev.html) what I was wanting to show you last night. I think it’s pretty self-explanatory but we can set up a teleconference tomorrow

[2020-12-30 17:00] goreaditya commented on #52
The following modifications were made to address this issue:
- A new property token was created `@VIZ.FINAL.YEAR@` that is used to keep track of the last year the VIZ module will be called based on *tsteps.csv*. This token will be used during the building of model setup.
- A new property was created `viz.final.year` in the *globalTemplate.properties* file. This property will be used by the VIZ jav

[2020-12-31 20:31] bettinardi commented on #133
Thinking about this with tolls.  If we do this, that means that trucks would see the impact of the toll (time cost) and see no congestion on the side routes and would likely dump off the freeway to avoid the toll - not realistic, so this idea from Arizona likely does not make sense on a network with tolls.

I've been wondering about tagging the network with designated truck routes.  Designated tru

[2021-01-01 00:14] bettinardi commented on #136
Reviewing this further, I'm seeing that all intercity demand is zero.  So that implies some issue with the skims or LDT.  There is intracity demand, but it's not getting assigned...  further poking around the transit network is not providing any clues to what could be wrong with the transit network.  A question has been submitted to PTV.

Looking at the skims, it appears SWIM is seeing zeros for a

[2021-01-04 22:03] bettinardi commented on #136
After working with Chetan (PTV), I have some following steps to work through:

  1. access node connection issues (stop areas need access node, somehow these were largely lost, could have been when Metro network was added...)
  2. PuT assignment in general prodecures (might consider a different setting then the "force boarding / alighting at connector node" setting.)
  3. PuT walk time non-zero, i

[2021-01-05 15:17] bettinardi commented on #133
Currently my vote as the best solution from Scott Smith (Volpe):

Hi Alex,

We have a public release of FTOT,
https://github.com/VolpeUSDOT/FTOT-public

The documentation is buried in a 141MB zip file (which also contains scenarios).  Key sentences:

“Weights are used to encourage flows on lower functional class roadways (e.g. interstates and highways). Truck_Interstate includes FAF Function Class

[2021-01-27 21:08] goreaditya commented on #71
The following table displays the variables that are active (needed by model to run) in alpha2beta.csv file.
| Variable Names      | Variable Active | Location                                                     |
| ------------------- | --------------- | ------------------------------------------------------------ |
| AREATYPE            | No              | -

[2021-01-27 21:25] goreaditya commented on #52
The _build_run.py_ and _module_commands.py_ were modified so that if VIZ crashes then it will create a file called `viz_failed.txt` and document the error code. This error code (if exist) will be read just before next VIZ run and the model run is stopped if the code is different then 0. The code has been tested by inserting a `stop()` code in the _build_VIZ_DB.R_ script and allowing the VIZ to cra

[2021-02-02 23:55] bettinardi commented on #138
I good time to test this would be after WOC 7 (and SWIM 2.6) is delivered.  At that point we can do a quick test to see if SWIM small still runs or capture any issues that exists if SWIM small does not run in SWIM 2.6

[2021-02-24 23:49] bstabler opened #140 "build a portable python 3 dependencies like we did for python 2"
https://github.com/tlumip/tlumip_dependencies

[2021-02-25 00:05] bstabler commented on #140
related to #113

[2021-02-25 14:53] jeabraham commented on #140
We use Virtual Environments and make files to install everything into the scenario folder.  Just

make _install

installs all the versions that were used to run the scenario last time, while

make _install_latest_from_repository

installs the latest PECAS python code.

--
John Abraham
HBA Specto Incorporated
jea@hbaspecto.com
403-232-1060 (unattended during the pandemic)
403-383-8024 (personal cel

[2021-03-25 18:54] bettinardi commented on #87
Hi @nsdhakar, I'm doing a final review to close this.  I'm seeing that in Dec, I attempted to run this and PT was crashing.  In the latest run it is not crashing - can you provide some quick context as to whether there was an issue in PT that you had to address - was PT using this file...

Also, in your tracking sheet, there is a question mark next to wiki update.  While this is still somewhat fre

[2021-04-26 23:02] bettinardi commented on #87
As best as I can tell my latest SWIM runs are operating without the "parameters/worldZoneDistances.csv" file, so I think that part is resolved.

@nsdhakar - the last thing I was going to do was read the wiki real fast and then close the issue - but I'm not finding the new text on the wiki - can you point me to the new text on this input file.

[2021-04-29 19:16] nsdhakar commented on #87
@bettinardi : here it is: https://github.com/tlumip/tlumip/wiki/Traffic-Assignment#inputs. Look at the third input file.

[2021-04-29 23:49] bettinardi commented on #87
Can the wiki be clarified just a little further.  It sounds like it does a pruning process twice - once for the external stations (5000 series) and once for the world market series (6000 series).  If so, this helps explain why some external stations and world markets are repeated more than once, even though only the first is used.  If this processing is happening twice at the two different levels.

[2021-06-22 00:54] bstabler commented on #125
from @jeabraham.

  - [Occupations revised.xlsx](https://github.com/tlumip/tlumip/files/6690213/Occupations.revised.xlsx)
  - [Occupations coding for PI-PECAS_with_occp_commodity_xtab.xlsx](https://github.com/tlumip/tlumip/files/6690214/Occupations.coding.for.PI-PECAS_with_occp_commodity_xtab.xlsx)
  - [Oregon Design Diagram Draft 8.xlsx](https://github.com/tlumip/tlumip/files/6690215/Oregon.Desig

[2021-06-22 01:35] bstabler commented on #125
We discussed this issue on the SWIM call and here's our plan for when we tackle this issue in the next phase of work:
  - We need to build a crosswalk from PUMS INDP and PUMS OCCP to PECAS Industry (the unique set from the industry field in the IndustryOccupationSplitIndustryCorrespondence_new.xlsx file) and PECAS occupation (the H, I columns in the Code sheet in Occupations revised.xlsx).
  -  We

[2021-06-29 18:11] goreaditya commented on #127
The following activities ignored by AA model were removed from [ActivityConstraintsI.csv]() file:
[code]

[2021-09-21 18:42] bettinardi commented on #70
The repo doesn't have a version file, so I have run the repo with the old version file, but now to test and close this issue I'm going to update the version file.  That update is going to be to remove the "BZONE" field from the zone listing.  Additionally, there is a second piece to this- where to store the 5000 series external zones.

Can the test of this issue include removing the 5000 series zo

[2021-09-21 18:53] bettinardi commented on #71
It looks like from the commits that grid acres is now automatically generated in the code - so I can remove that field from the inputs.  On 7-15-2020 Ben noted that CountyFIPS was going to be dynamically calculated / populated in the code, so the user didn't have to worry about that.  Did that occur, can I remove CountyFIPS?

In addition to those two user attribution fields I plan to remove, I als

[2021-09-21 18:58] bettinardi commented on #87
@nsdhakar - My suggested text for the wiki in the comment above is the last piece to closing this issue.  I don't know the change well enough to confirm my suggested edit to the wiki.  Can you please review and finalize the wiki accordingly and then close the issue.  Thank you

[2021-09-21 19:00] goreaditya commented on #70
@bettinardi The 5000 series zones can be removed from the MainZone table. The external stations in Zone layer (AZONE) are automatically copied to MainZone (BZONE) within python script and thus does not require any specification in the MainZone layer.

[2021-09-23 22:19] bettinardi commented on #127
I'm noticing that this the information in the comment above is no longer built into ActivityConstraintsI.  However, I'm also noticing that all internal zone information has also been cut (this was a ~10MB output file, now it's only world zones (6000 series) and 20 kb).  When did that occur, was that a separate issue?  Did we mean for that to occur

[2021-09-23 22:28] bettinardi commented on #52
Just a note for future work that this feature does now work as spec'd - it runs along side models year runs to create a faster database build at the end (where the majority of years are already completed).  However there are a number of ways that this is problematic and prone to user error.  If the user forgets to generate databases year by year, it's very difficult currently to go back and genera

[2021-09-23 22:28] #52 closed

[2021-09-23 22:31] bettinardi commented on #129
The notes from the team indicate this issue is waiting on my review, but I don't currently see from the work what I can review to close this issue - could I get some guidance from RSG on what content I should be reviewing to verify this issue is completed and then close.

[2021-09-24 18:49] bettinardi commented on #128
Reviewed and closed

[2021-09-24 18:49] #128 closed

[2021-12-09 22:10] bettinardi commented on #87
@nsdhakar - a quick flag that I'm hoping for the small edit in the wiki from two comments above.  If you can confirm and complete that wiki change, then I can close this issue.

[2021-12-09 22:13] bettinardi commented on #127
@nsdhakar - please see question in the comment above.  If we can resolve that question I think we can close this issue.

[2021-12-09 22:17] bettinardi commented on #129
@nsdhakar - a quick flag that I'm attempting to finalize all the open issues from - https://resourcesystemsgroupinc-my.sharepoint.com/:x:/r/personal/nagendra_dhakar_rsginc_com/_layouts/15/guestaccess.aspx?e=op4F7R&share=EQhqCwlv47dLr_949AB7faYB6umFA74_DlN95-IeiSWxVw

I need RSG and Rick to help respond and provide a status for how I should review and complete

[2021-12-10 17:23] bettinardi commented on #88
Not sure what issue to put this error on, but deciding to put it here.  To deal with this issue, CT has been getting updated to the latest FAF, along with several other revisions.  CT is being tested in more current years, but as I am attempting the current repo copy, it is failing in 2010 in the full model stream with the following issue.  This is just a note to capture this and correct in the re

[2021-12-10 17:54] goreaditya commented on #88
@bettinardi - I noticed that the test script, that I was using to test changes to swimctr package, got pushed to the repository. This script was manually passing the year 2015 to the FAF preprocessing function instead of reading it from the "ct.properties" file. This issue can be fixed by simply deleting `2015,#` from `2015,#as.numeric(RTP[["t.year"]]) +  as.numeric(RTP[["base.year"]]),` line.
The

[2021-12-10 19:46] bettinardi commented on #71
Great work - SWIM is looking so much cleaner

[2021-12-10 19:46] #71 closed

[2022-01-03 22:05] nsdhakar commented on #87
@bettinardi - The retained input file (WorldZoneExternalStationDistances.csv) has all pairs between external stations and world market. That means one external station may have records for multiple world markets. However, the eliminated input file ("parameters/worldZoneDistances.csv") contains only **_one_** world market for every external station. To keep only one world market in the way it was i

[2022-01-04 00:27] bettinardi commented on #87
I think I now understand, what was confusing me is that why do we have an input that doesn't align with the instructions.  So to confirm, the input is bad, it has rows that aren't used.  Is that correct?  If so, I will leave the wiki description but maybe add something to say "if the user adds extra records for external stations, it will only use the first records found."  I will then clean up the

[2022-01-04 01:20] nsdhakar commented on #87
Before cleaning up the retained file the way you suggested, we need to make sure that this file is not being used elsewhere. As part of this task, we simply eliminated one input file by generating that file from this retained file. But we do not know if the retained file is used elsewhere that requires this format. We can do that check in WOC9. Is that okay?

[2022-01-04 15:51] bettinardi commented on #87
I have started a run with them removed, we will see how that run performs.  So, if we feel it needs more review after that test we can add to WOC 9 - I will follow-up in a few days after the run completes.

[2022-01-10 06:27] nsdhakar commented on #87
@bettinardi - wondering how your test run go?

[2022-01-11 00:45] bettinardi commented on #87
I'm seeing a pretty sizeable impact to external station volumes - so I'm thinking that file might have had an impact, but I made two changes, one was the change to - WorldZoneExternalStationDistances.csv, and one was the code correction that @goreaditya made to for issue 127.  https://github.com/tlumip/tlumip/issues/127.  So I'm running one more time to try and verify where the impact to external

[2022-01-12 07:43] nsdhakar commented on #87
Yes, given the bigger set in this file and this file potentially being used elsewhere, we decided to use this file and eliminate the other one with a subset. In WOC9, we can look into the code to see how this file is being used in the model and if multiple world markets to one external station are necessary.

[2022-02-17 17:51] bettinardi commented on #88
Adding some notes and thoughts here so that I don't lose them -
Part of the on going confusion around using CT is - what dollars are CT in.  Related (although it might not seem like it at first) is that SWIM has historically had too many trucks assigned and now with the latest tests with FAF 5.2 the issue has gotten worse.  This relates to "what dollars are SWIM in" because if we don't deflate FAF

[2022-02-25 17:26] bettinardi commented on #127
As best as I can tell this issue is fully resolved and I am now closing

[2022-02-25 17:26] #127 closed

[2022-02-25 18:06] bettinardi commented on #87
As best as I can tell there is no impact from removing the extra rows in the WorldZoneExternalStationDistances.csv file.  I did tests and saw some 5% VMT swings in smaller (arterial) external stations, and was concerned.  But as best as I can tell, those smaller external stations can just swing 5% between scenarios for any given year (based on identical scenarios I ran side-by-side).  So at this p

[2022-02-25 18:06] #87 closed

[2022-08-22 17:10] jeabraham commented on #126
Hi @bettinardi in the PECAS/HBA Population Synthesizer there's an option to specify the weights to be used, in a geographic manner, for each micro sample (puts) record.  We usually use that functionality to bias the TAZs/blocks to prefer to use records from it's own PUMA in past years and also in near-future years.  In far distant future years, we reduce the bias ("Eugene could be more like Portla

[2022-08-22 17:14] bettinardi commented on #126
Thanks John, maybe the next time we have a team meeting (I think this week), we can quickly brainstorm on this (if we have 5-10 mins).

[2022-09-08 15:38] bettinardi commented on #78
From CT meeting on 9-8-22 -
It might work best to come back and revisit and close this issue after SWIM 2.6 is complete.  As SWIM 2.6 is finalized, and comparison of the latest FAF work and the latest AA work (both in 2.6) can be made.  And then the wiki guidance can be finalized using the discussion above and the latest comparison of the two value sources in SWIM.

[2022-09-16 15:03] bettinardi opened #141 "Tolling by time period"
Need to update the Visum assignment procedure to use tolling attributes by period (adding 8 link attributes):

TOLL_AUTO_NT	TOLL_AUTO_PK	TOLL_AUTO_OP	TOLL_AUTO_PM	TOLL_TRUCK_NT	TOLL_TRUCK_PK	TOLL_TRUCK_OP	TOLL_TRUCK_PM

Remember to port over current day tolls to the toll by time period attributes

If you need any reminders go here on Thing 2 - D:\swim2\Ref25_STIP_2427_Toll

[2022-09-16 19:10] bettinardi commented on #141
A note that as I was working on this issue, I noted that we might have a problem where the prior procedure might be messed up for OP and NT for auto_cost